In [19]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv('Dialysis_Facility_Compare_-_Listing_by_Facility.csv')

In [3]:
df.head()

,Provider Number,Network,Facility Name,Five Star Date,Five Star,Five Star Data Availability Code,Address Line 1,Address Line 2,City,State,...,95% C.I. (lower limit) for SWR,Number of patients in this facility for SWR,Standardized First Kidney Transplant Waitlist Ratio,PPPW category text,Patient prevalent transplant waitlist data availability code,95% C.I. (upper limit) for PPPW,95% C.I. (lower limit) for PPPW,Number of patients for PPPW,Percentage of Prevalent Patients Waitlisted,Location
0,42592,13,DCI - LITTLE ROCK RENAL SERVICES LLC,01/01/2015 - 12/31/2018,2,1,1910 JOHN BARROW RD,NaN,LITTLE ROCK,AR,...,.12,56,.45,As Expected,1,22.8,3.4,100,9.2,POINT (-92.372456 34.73624)
1,52761,18,DAVITA-PREMIER DIALYSIS CENTER,01/01/2015 - 12/31/2018,3,1,7612 ATLANTIC AVENUE,NaN,CUDAHY,CA,...,.2,105,.53,As Expected,1,32.1,11.8,209,20.1,POINT (-118.187206 33.966829)
2,72549,1,WALLINGFORD DIALYSIS CARE LLC,01/01/2015 - 12/31/2018,5,1,720 N MAIN STREET EXT,SUITE 3,WALLINGFORD,CT,...,Not Available,12,Not Available,As Expected,1,74.5,10.1,24,36.4,POINT (-72.809521 41.472838)
3,82524,4,"DSI LAUREL DIALYSIS, LLC",01/01/2015 - 12/31/2018,4,1,LAUREL SQUARE SHOPPING CENTER,"30214 SUSSEX HIGHWAY, UNIT #4",LAUREL,DE,...,Not Available,8,Not Available,As Expected,1,74.2,.2,19,7.4,NaN
4,82527,4,"FRESENIUS MEDICAL CARE SOUTHERN DELAWARE, LLC",01/01/2015 - 12/31/2018,5,1,9115 ANTIQUE ALLEY,NaN,BRIDGEVILLE,DE,...,Not Available,1,Not Available,As Expected,1,48.4,2.8,44,14.2,POINT (-75.592475 38.735365)

In [4]:
df.tail()

,Provider Number,Network,Facility Name,Five Star Date,Five Star,Five Star Data Availability Code,Address Line 1,Address Line 2,City,State,...,95% C.I. (lower limit) for SWR,Number of patients in this facility for SWR,Standardized First Kidney Transplant Waitlist Ratio,PPPW category text,Patient prevalent transplant waitlist data availability code,95% C.I. (upper limit) for PPPW,95% C.I. (lower limit) for PPPW,Number of patients for PPPW,Percentage of Prevalent Patients Waitlisted,Location
7621,442666,8,DAVITA TENNESSEE VALLEY DIALYSIS CENTER,01/01/2015 - 12/31/2018,4,1,107 WOODLAWN DR,SUITE 100,JOHNSON CITY,TN,...,.01,39,.25,As Expected,1,33.1,2.1,76,9.5,POINT (-82.398053 36.307557)
7622,522598,11,DAVITA CAPITOL COURT DIALYSIS,01/01/2015 - 12/31/2018,3,1,4176 N 56TH ST,NaN,MILWAUKEE,WI,...,.05,52,.38,As Expected,1,32.6,5.2,82,14,POINT (-87.982914 43.093799)
7623,552873,18,DAVITA BRISTOL DIALYSIS,01/01/2015 - 12/31/2018,Not Available,258,1232 S BRISTOL ST,NaN,SANTA ANA,CA,...,Not Available,Not Available,Not Available,Not Available,258,Not Available,Not Available,Not Available,Not Available,POINT (-117.885172 33.731441)
7624,682558,7,FMC - WAUCHULA,01/01/2015 - 12/31/2018,4,1,457 CARLTON ST,NaN,WAUCHULA,FL,...,Not Available,22,Not Available,As Expected,1,35.4,1.9,56,9.2,POINT (-81.815351 27.536488)
7625,522548,11,DAVITA WEST APPLETON DIALYSIS,01/01/2015 - 12/31/2018,3,1,"10130 W APPLETON AVE, SUITE 500",NaN,MILWAUKEE,WI,...,.41,41,1.27,As Expected,1,36.9,7.1,92,17.4,POINT (-88.038798 43.12228)

In [5]:
df.shape

(7626, 119)

In [6]:
for col in df.columns:
    print (col)

Provider Number
Network
Facility Name
Five Star Date
Five Star
Five Star Data Availability Code
Address Line 1
Address Line 2
City
State
Zip
County
Phone Number
Profit or Non-Profit
Chain Owned
Chain Organization
Late Shift
# of Dialysis Stations
Offers in-center hemodialysis
Offers peritoneal dialysis
Offers home hemodialysis training
Certification or Recertification Date
Claims Date
CROWNWeb Date
STrR Date
Percentage of Medicare patients with Hgb<10 g/dL
HGB<10 data availability code
Percentage of Medicare patients with Hgb>12 g/dL
Hgb > 12 data availability code
Number of Dialysis Patients with Hgb data
Patient Transfusion data availability Code
Patient Transfusion category text
Number of patients included in the transfusion summary
Percent of Adult HD patients with Kt/V >= 1.2
Adult HD Kt/V data availability code
Percentage of Adult PD PTS with Kt/V >= 1.7
Adult PD Kt/V Data Availability Code
Percentage of Pediatric HD patients with Kt/V >= 1.2
Pediatric HD Kt/V Data Availability Code
Number of Adult HD patients with Kt/V data
Number of Adult HD patient-months with Kt/V data
Number of Adult PD patients with Kt/V data
Number of Adult PD patient-months with Kt/V data
Number of Pediatric HD patients with Kt/V data
Number of Pediatric HD patient-months with Kt/V data
Hypercalcemia Data Availability Code
Number of patients in hypercalcemia summary
Number of patient-months in hypercalcemia summary
Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)
Number of patients in Serum phosphorus summary
Number of patient-months in Serum phosphorus summary
Serum phosphorus Data Availability Code
Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL
Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL
Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL
Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL
Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL
SHR Date
SRR Date
SMR Date
Patient Hospitalization category text
Patient Hospitalization data availability Code
Patient Hospital Readmission Category
Patient Hospital Readmission data availability Code
Patient Survival Category Text
Patient Survival data availability code
Number of patients included in hospitalization summary
Number of hospitalizations included in hospital readmission summary
Number of patients included in survival summary
Mortality Rate (Facility)
Mortality Rate: Upper Confidence Limit (97.5%)
Mortality Rate: Lower Confidence Limit (2.5%)
Readmission Rate (Facility)
Readmission Rate: Upper Confidence Limit (97.5%)
Readmission Rate: Lower Confidence Limit (2.5%)
Hospitalization Rate (Facility)
Hospitalization Rate: Upper Confidence Limit (97.5%)
Hospitalization Rate: Lower Confidence Limit (2.5%)
Number of pediatric PD patients with Kt/V data
Pediatric PD Kt/V Data Availability Code
Number of pediatric PD patient-months with KT/V data
Percentage of pediatric PD patients with Kt/V>=1.8
SIR Date
Patient Infection Data Availability Code
Patient Infection category text
Standard Infection Ratio
SIR: Upper Confidence Limit (97.5%)
SIR: Lower Confidence Limit (2.5%)
Transfusion Rate (Facility)
Transfusion Rate: Upper Confidence Limit (97.5%)
Transfusion Rate: Lower Confidence Limit (2.5%)
Fistula data availability code
Fistula Category Text
Number of Patients included in fistula summary
Fistula Rate (Facility)
Fistula Rate: Upper Confidence Limit (97.5%)
Fistula Rate: Lower Confidence Limit (2.5%)
Number of patients in long term catheter summary
Number of patient months in long term catheter summary
Long term catheter Data Availability Code
Percentage of Adult patients with long term catheter in use
Number of patients in nPCR summary
Number of patient-months in nPCR summary
nPCR Data Availability Code
Percentage of pediatric HD patients with nPCR
DATE_SWR
SWR category text
Patient transplant waitlist data availability code
95% C.I. (upper limit) for SWR
95% C.I. (lower limit) for SWR
Number of patients in this facility for SWR
Standardized First Kidney Transplant Waitlist Ratio
PPPW category text
Patient prevalent transplant waitlist data availability code
95% C.I. (upper limit) for PPPW
95% C.I. (lower limit) for PPPW
Number of patients for PPPW
Percentage of Prevalent Patients Waitlisted
Location

In [7]:
for col in df.columns: 
    print(col)

Provider Number
Network
Facility Name
Five Star Date
Five Star
Five Star Data Availability Code
Address Line 1
Address Line 2
City
State
Zip
County
Phone Number
Profit or Non-Profit
Chain Owned
Chain Organization
Late Shift
# of Dialysis Stations
Offers in-center hemodialysis
Offers peritoneal dialysis
Offers home hemodialysis training
Certification or Recertification Date
Claims Date
CROWNWeb Date
STrR Date
Percentage of Medicare patients with Hgb<10 g/dL
HGB<10 data availability code
Percentage of Medicare patients with Hgb>12 g/dL
Hgb > 12 data availability code
Number of Dialysis Patients with Hgb data
Patient Transfusion data availability Code
Patient Transfusion category text
Number of patients included in the transfusion summary
Percent of Adult HD patients with Kt/V >= 1.2
Adult HD Kt/V data availability code
Percentage of Adult PD PTS with Kt/V >= 1.7
Adult PD Kt/V Data Availability Code
Percentage of Pediatric HD patients with Kt/V >= 1.2
Pediatric HD Kt/V Data Availability Code
Number of Adult HD patients with Kt/V data
Number of Adult HD patient-months with Kt/V data
Number of Adult PD patients with Kt/V data
Number of Adult PD patient-months with Kt/V data
Number of Pediatric HD patients with Kt/V data
Number of Pediatric HD patient-months with Kt/V data
Hypercalcemia Data Availability Code
Number of patients in hypercalcemia summary
Number of patient-months in hypercalcemia summary
Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)
Number of patients in Serum phosphorus summary
Number of patient-months in Serum phosphorus summary
Serum phosphorus Data Availability Code
Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL
Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL
Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL
Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL
Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL
SHR Date
SRR Date
SMR Date
Patient Hospitalization category text
Patient Hospitalization data availability Code
Patient Hospital Readmission Category
Patient Hospital Readmission data availability Code
Patient Survival Category Text
Patient Survival data availability code
Number of patients included in hospitalization summary
Number of hospitalizations included in hospital readmission summary
Number of patients included in survival summary
Mortality Rate (Facility)
Mortality Rate: Upper Confidence Limit (97.5%)
Mortality Rate: Lower Confidence Limit (2.5%)
Readmission Rate (Facility)
Readmission Rate: Upper Confidence Limit (97.5%)
Readmission Rate: Lower Confidence Limit (2.5%)
Hospitalization Rate (Facility)
Hospitalization Rate: Upper Confidence Limit (97.5%)
Hospitalization Rate: Lower Confidence Limit (2.5%)
Number of pediatric PD patients with Kt/V data
Pediatric PD Kt/V Data Availability Code
Number of pediatric PD patient-months with KT/V data
Percentage of pediatric PD patients with Kt/V>=1.8
SIR Date
Patient Infection Data Availability Code
Patient Infection category text
Standard Infection Ratio
SIR: Upper Confidence Limit (97.5%)
SIR: Lower Confidence Limit (2.5%)
Transfusion Rate (Facility)
Transfusion Rate: Upper Confidence Limit (97.5%)
Transfusion Rate: Lower Confidence Limit (2.5%)
Fistula data availability code
Fistula Category Text
Number of Patients included in fistula summary
Fistula Rate (Facility)
Fistula Rate: Upper Confidence Limit (97.5%)
Fistula Rate: Lower Confidence Limit (2.5%)
Number of patients in long term catheter summary
Number of patient months in long term catheter summary
Long term catheter Data Availability Code
Percentage of Adult patients with long term catheter in use
Number of patients in nPCR summary
Number of patient-months in nPCR summary
nPCR Data Availability Code
Percentage of pediatric HD patients with nPCR
DATE_SWR
SWR category text
Patient transplant waitlist data availability code
95% C.I. (upper limit) for SWR
95% C.I. (lower limit) for SWR
Number of patients in this facility for SWR
Standardized First Kidney Transplant Waitlist Ratio
PPPW category text
Patient prevalent transplant waitlist data availability code
95% C.I. (upper limit) for PPPW
95% C.I. (lower limit) for PPPW
Number of patients for PPPW
Percentage of Prevalent Patients Waitlisted
Location

In [8]:
df.iloc[:, :60].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7626 entries, 0 to 7625
Data columns (total 60 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   Provider Number                                                                          7626 non-null   int64
 1   Network                                                                                  7626 non-null   int64
 2   Facility Name                                                                            7626 non-null   object
 3   Five Star Date                                                                           7626 non-null   object
 4   Five Star                                                                                7626 non-null   object
 5   Five Star Data Availability Code                                                         7626 non-null   int64
 6   Address Line 1                                                                           7626 non-null   object
 7   Address Line 2                                                                           1087 non-null   object
 8   City                                                                                     7626 non-null   object
 9   State                                                                                    7626 non-null   object
 10  Zip                                                                                      7626 non-null   int64
 11  County                                                                                   7626 non-null   object
 12  Phone Number                                                                             7626 non-null   object
 13  Profit or Non-Profit                                                                     7626 non-null   object
 14  Chain Owned                                                                              7626 non-null   object
 15  Chain Organization                                                                       7625 non-null   object
 16  Late Shift                                                                               7626 non-null   int64
 17  # of Dialysis Stations                                                                   7626 non-null   int64
 18  Offers in-center hemodialysis                                                            7626 non-null   int64
 19  Offers peritoneal dialysis                                                               7626 non-null   int64
 20  Offers home hemodialysis training                                                        7626 non-null   int64
 21  Certification or Recertification Date                                                    7626 non-null   object
 22  Claims Date                                                                              7626 non-null   object
 23  CROWNWeb Date                                                                            7626 non-null   object
 24  STrR Date                                                                                7626 non-null   object
 25  Percentage of Medicare patients with Hgb<10 g/dL                                         7626 non-null   object
 26  HGB<10 data availability code                                                            7626 non-null   int64
 27  Percentage of Medicare patients with Hgb>12 g/dL                                         7626 non-null   object
 28  Hgb > 12 data availability code                                                          7626 non-null   int64
 29  Number of Dialysis Patients with Hgb data                                                7626 non-null   object
 30  Patient Transfusion data availability Code                                               7626 non-null   int64
 31  Patient Transfusion category text                                                        7626 non-null   object
 32  Number of patients included in the transfusion summary                                   7626 non-null   object
 33  Percent of Adult HD patients with Kt/V >= 1.2                                            7626 non-null   object
 34  Adult HD Kt/V data availability code                                                     7626 non-null   int64
 35  Percentage of Adult PD PTS with Kt/V >= 1.7                                              7626 non-null   object
 36  Adult PD Kt/V Data Availability Code                                                     7626 non-null   int64
 37  Percentage of Pediatric HD patients with Kt/V >= 1.2                                     7626 non-null   object
 38  Pediatric HD Kt/V Data Availability Code                                                 7626 non-null   int64
 39  Number of Adult HD patients with Kt/V data                                               7626 non-null   object
 40  Number of Adult HD patient-months with Kt/V data                                         7626 non-null   object
 41  Number of Adult PD patients with Kt/V data                                               7626 non-null   object
 42  Number of Adult PD patient-months with Kt/V data                                         7626 non-null   object
 43  Number of Pediatric HD patients with Kt/V data                                           7626 non-null   object
 44  Number of Pediatric HD patient-months with Kt/V data                                     7626 non-null   object
 45  Hypercalcemia Data Availability Code                                                     7626 non-null   int64
 46  Number of patients in hypercalcemia summary                                              7626 non-null   object
 47  Number of patient-months in hypercalcemia summary                                        7626 non-null   object
 48  Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)  7626 non-null   object
 49  Number of patients in Serum phosphorus summary                                           7626 non-null   object
 50  Number of patient-months in Serum phosphorus summary                                     7626 non-null   object
 51  Serum phosphorus Data Availability Code                                                  7626 non-null   int64
 52  Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL                   7626 non-null   object
 53  Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL                 7626 non-null   object
 54  Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL                 7626 non-null   object
 55  Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL                 7626 non-null   object
 56  Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL                7626 non-null   object
 57  SHR Date                                                                                 7626 non-null   object
 58  SRR Date                                                                                 7626 non-null   object
 59  SMR Date                                                                                 7626 non-null   object
dtypes: int64(17), object(43)
memory usage: 3.5+ MB

In [9]:
df.iloc[:, 60:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7626 entries, 0 to 7625
Data columns (total 59 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Patient Hospitalization category text                                7626 non-null   object
 1   Patient Hospitalization data availability Code                       7626 non-null   int64
 2   Patient Hospital Readmission Category                                7626 non-null   object
 3   Patient Hospital Readmission data availability Code                  7626 non-null   int64
 4   Patient Survival Category Text                                       7626 non-null   object
 5   Patient Survival data availability code                              7626 non-null   int64
 6   Number of patients included in hospitalization summary               7626 non-null   object
 7   Number of hospitalizations included in hospital readmission summary  7626 non-null   object
 8   Number of patients included in survival summary                      7626 non-null   object
 9   Mortality Rate (Facility)                                            7626 non-null   object
 10  Mortality Rate: Upper Confidence Limit (97.5%)                       7626 non-null   object
 11  Mortality Rate: Lower Confidence Limit (2.5%)                        7626 non-null   object
 12  Readmission Rate (Facility)                                          7626 non-null   object
 13  Readmission Rate: Upper Confidence Limit (97.5%)                     7626 non-null   object
 14  Readmission Rate: Lower Confidence Limit (2.5%)                      7626 non-null   object
 15  Hospitalization Rate (Facility)                                      7626 non-null   object
 16  Hospitalization Rate: Upper Confidence Limit (97.5%)                 7626 non-null   object
 17  Hospitalization Rate: Lower Confidence Limit (2.5%)                  7626 non-null   object
 18  Number of pediatric PD patients with Kt/V data                       7626 non-null   object
 19  Pediatric PD Kt/V Data Availability Code                             7626 non-null   int64
 20  Number of pediatric PD patient-months with KT/V data                 7626 non-null   object
 21  Percentage of pediatric PD patients with Kt/V>=1.8                   7626 non-null   object
 22  SIR Date                                                             7626 non-null   object
 23  Patient Infection Data Availability Code                             7626 non-null   int64
 24  Patient Infection category text                                      7626 non-null   object
 25  Standard Infection Ratio                                             7626 non-null   object
 26  SIR: Upper Confidence Limit (97.5%)                                  7626 non-null   object
 27  SIR: Lower Confidence Limit (2.5%)                                   7626 non-null   object
 28  Transfusion Rate (Facility)                                          7626 non-null   object
 29  Transfusion Rate: Upper Confidence Limit (97.5%)                     7626 non-null   object
 30  Transfusion Rate: Lower Confidence Limit (2.5%)                      7626 non-null   object
 31  Fistula data availability code                                       7626 non-null   int64
 32  Fistula Category Text                                                7626 non-null   object
 33  Number of Patients included in fistula summary                       7626 non-null   object
 34  Fistula Rate (Facility)                                              7626 non-null   object
 35  Fistula Rate: Upper Confidence Limit (97.5%)                         7626 non-null   object
 36  Fistula Rate: Lower Confidence Limit (2.5%)                          7626 non-null   object
 37  Number of patients in long term catheter summary                     7626 non-null   object
 38  Number of patient months in long term catheter summary               7626 non-null   object
 39  Long term catheter Data Availability Code                            7626 non-null   int64
 40  Percentage of Adult patients with long term catheter in use          7626 non-null   object
 41  Number of patients in nPCR summary                                   7626 non-null   object
 42  Number of patient-months in nPCR summary                             7626 non-null   object
 43  nPCR Data Availability Code                                          7626 non-null   int64
 44  Percentage of pediatric HD patients with nPCR                        7626 non-null   object
 45  DATE_SWR                                                             7626 non-null   object
 46  SWR category text                                                    7626 non-null   object
 47  Patient transplant waitlist data availability code                   7626 non-null   int64
 48  95% C.I. (upper limit) for SWR                                       7626 non-null   object
 49  95% C.I. (lower limit) for SWR                                       7626 non-null   object
 50  Number of patients in this facility for SWR                          7626 non-null   object
 51  Standardized First Kidney Transplant Waitlist Ratio                  7626 non-null   object
 52  PPPW category text                                                   7626 non-null   object
 53  Patient prevalent transplant waitlist data availability code         7626 non-null   int64
 54  95% C.I. (upper limit) for PPPW                                      7626 non-null   object
 55  95% C.I. (lower limit) for PPPW                                      7626 non-null   object
 56  Number of patients for PPPW                                          7626 non-null   object
 57  Percentage of Prevalent Patients Waitlisted                          7626 non-null   object
 58  Location                                                             7162 non-null   object
dtypes: int64(10), object(49)
memory usage: 3.4+ MB

In [10]:
df.iloc[:, :30].describe()

,Provider Number,Network,Five Star Data Availability Code,Zip,Late Shift,# of Dialysis Stations,Offers in-center hemodialysis,Offers peritoneal dialysis,Offers home hemodialysis training,HGB<10 data availability code,Hgb > 12 data availability code
count,7626.000000,7626.000000,7626.000000,7626.000000,7626.000000,7626.000000,7626.000000,7626.000000,7626.00000,7626.000000,7626.000000
mean,315876.077105,9.660372,31.525833,50297.359691,0.167060,17.463284,0.940336,0.525439,0.29006,31.839890,31.839890
std,193257.685562,4.708672,83.403249,27581.675445,0.373054,8.495540,0.236879,0.499385,0.45382,75.349864,75.349864
min,12306.000000,1.000000,1.000000,603.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,1.000000
25%,142822.250000,6.000000,1.000000,29533.000000,0.000000,12.000000,1.000000,0.000000,0.00000,1.000000,1.000000
50%,322545.500000,9.000000,1.000000,46032.000000,0.000000,17.000000,1.000000,1.000000,0.00000,1.000000,1.000000
75%,452511.750000,14.000000,1.000000,76060.750000,0.000000,22.000000,1.000000,1.000000,1.00000,1.000000,1.000000
max,852568.000000,18.000000,261.000000,99801.000000,1.000000,80.000000,1.000000,1.000000,1.00000,258.000000,258.000000

In [11]:
df.iloc[:, 30:90].describe()

,Patient Transfusion data availability Code,Adult HD Kt/V data availability code,Adult PD Kt/V Data Availability Code,Pediatric HD Kt/V Data Availability Code,Hypercalcemia Data Availability Code,Serum phosphorus Data Availability Code,Patient Hospitalization data availability Code,Patient Hospital Readmission data availability Code,Patient Survival data availability code,Pediatric PD Kt/V Data Availability Code,Patient Infection Data Availability Code
count,7626.000000,7626.000000,7626.000000,7626.000000,7626.000000,7626.00000,7626.00000,7626.000000,7626.000000,7626.000000,7626.000000
mean,41.090742,26.262392,170.362575,255.115132,13.552190,13.12300,25.68673,26.699449,30.239182,255.840808,41.942958
std,87.672939,70.987742,108.505266,17.913859,52.313945,51.23718,74.10966,74.577879,79.229534,19.258111,88.145757
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1.000000,259.000000,1.000000,1.00000,1.00000,1.000000,1.000000,259.000000,1.000000
50%,1.000000,1.000000,201.000000,259.000000,1.000000,1.00000,1.00000,1.000000,1.000000,259.000000,1.000000
75%,1.000000,1.000000,257.000000,259.000000,1.000000,1.00000,1.00000,1.000000,1.000000,259.000000,1.000000
max,258.000000,258.000000,258.000000,259.000000,258.000000,258.00000,258.00000,258.000000,258.000000,259.000000,258.000000

In [12]:
df.iloc[:, 90:].describe()

,Fistula data availability code,Long term catheter Data Availability Code,nPCR Data Availability Code,Patient transplant waitlist data availability code,Patient prevalent transplant waitlist data availability code
count,7626.000000,7626.000000,7626.000000,7626.000000,7626.000000
mean,22.494099,21.936271,254.674928,97.691975,14.793994
std,67.614074,65.879543,20.264866,105.786322,55.649087
min,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,259.000000,1.000000,1.000000
50%,1.000000,1.000000,259.000000,1.000000,1.000000
75%,1.000000,1.000000,259.000000,199.000000,1.000000
max,258.000000,258.000000,259.000000,258.000000,258.000000

# Data Definitions

### Provider Number
Data type: int64

Value count: 7626

Number of unique values: 7626

Percent unique values: 100%

Ranges of values: 12306 - 852568

Length of values: 5, 6

Description: Lists the numeric code used to identify the provider listed.

In [13]:
df['Provider Number'].head()

0    42592
1    52761
2    72549
3    82524
4    82527
Name: Provider Number, dtype: int64

In [14]:
df['Provider Number'].tail()

7621    442666
7622    522598
7623    552873
7624    682558
7625    522548
Name: Provider Number, dtype: int64

In [15]:
set([(len(str(num))) for num in df['Provider Number']])

{5, 6}

In [16]:
df['Provider Number'].describe()

count      7626.000000
mean     315876.077105
std      193257.685562
min       12306.000000
25%      142822.250000
50%      322545.500000
75%      452511.750000
max      852568.000000
Name: Provider Number, dtype: float64

In [17]:
df['Provider Number'].nunique()

7626

### Network
Data type: int64

Value count: 7626 

Number of unique values: 18

Percent unique values: 0%

Ranges of values: 1 - 18

Length of values: 1, 2

Description: Lists the numeric code representing geographic area of all Medicare-approved ESRD (End Stage Renal Disease) facilities. 
Map of the network can be found here:
https://esrdncc.org/en/ESRD-network-map/

Value description:
- 1   : Network 1 (CT, ME, MA, NH,RI,VT)
- 2   : Network 2 (NY)
- 3   : Network 3 (NJ, PR, VI) 
- 4   : Network 4 (DE, PA)
- 5   : Network 5 (DC, MD, VA,WV)
- 6   : Network 6 (GA, NC, SC)
- 7   : Network 7 (FL)
- 8   : Network 8 (AL, MS, TN)
- 9   : Network 9 (IN, KY, OH)
- 10  : Network 10 (IL)
- 11  : Network 11 (MI, MN, ND, SD,WI)
- 12  : Network 12 (IA, KS, MO, NE)
- 13  : Network 13 (AR, LA, OK)
- 14  : Network 14 (TX)
- 15  : Network 15 (AZ, CO, NV, NM, UT,WY)
- 16  : Network 16 (AK, ID, MT, OR, WA)
- 17  : Network 17 (AS, GU, HI, MP, N. CA)
- 18  : Network 18 (S. CA)

In [20]:
df['Network'].head()

0    13
1    18
2     1
3     4
4     4
Name: Network, dtype: int64

In [21]:
df['Network'].tail()

7621     8
7622    11
7623    18
7624     7
7625    11
Name: Network, dtype: int64

In [22]:
df['Network'].describe()

count    7626.000000
mean        9.660372
std         4.708672
min         1.000000
25%         6.000000
50%         9.000000
75%        14.000000
max        18.000000
Name: Network, dtype: float64

In [23]:
df['Network'].nunique()

18

In [24]:
df['Network'].unique()

array([13, 18,  1,  4,  6, 10,  9,  5, 11,  3,  2, 16,  8, 17, 14,  7, 12,
       15])

In [25]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Network'].value_counts()]).value_counts()

False    18
dtype: int64

### Facility Name
Data type: object

Value count: 7626 

Number of unique values: 7448

Percent unique values: 96.5%

Length of values: 7 - 68

Description: Lists the name of the facility listed.

In [26]:
df['Facility Name'].head()

0             DCI - LITTLE ROCK RENAL SERVICES LLC
1                   DAVITA-PREMIER DIALYSIS CENTER
2                    WALLINGFORD DIALYSIS CARE LLC
3                         DSI LAUREL DIALYSIS, LLC
4    FRESENIUS MEDICAL CARE SOUTHERN DELAWARE, LLC
Name: Facility Name, dtype: object

In [27]:
df['Facility Name'].tail()

7621    DAVITA TENNESSEE VALLEY DIALYSIS CENTER
7622              DAVITA CAPITOL COURT DIALYSIS
7623                    DAVITA BRISTOL DIALYSIS
7624                             FMC - WAUCHULA
7625              DAVITA WEST APPLETON DIALYSIS
Name: Facility Name, dtype: object

In [28]:
df['Facility Name'].describe()

count                                        7626
unique                                       7448
top       BIO-MEDICAL APPLICATIONS OF TEXAS, INC.
freq                                           12
Name: Facility Name, dtype: object

In [29]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Facility Name'].value_counts()]).value_counts()

True     7362
False      86
dtype: int64

In [30]:
set([(len(str(num))) for num in df['Facility Name']])

{7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 59,
 61,
 62,
 67,
 68}

### Five Star Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0% 

Ranges of values: "01/01/2015 - 12/31/2018"

Length of values: 23

Description: Lists the data collection period for the five star rating.

In [31]:
df['Five Star Date'].head()

0    01/01/2015 - 12/31/2018
1    01/01/2015 - 12/31/2018
2    01/01/2015 - 12/31/2018
3    01/01/2015 - 12/31/2018
4    01/01/2015 - 12/31/2018
Name: Five Star Date, dtype: object

In [32]:
df['Five Star Date'].tail()

7621    01/01/2015 - 12/31/2018
7622    01/01/2015 - 12/31/2018
7623    01/01/2015 - 12/31/2018
7624    01/01/2015 - 12/31/2018
7625    01/01/2015 - 12/31/2018
Name: Five Star Date, dtype: object

In [33]:
df['Five Star Date'].describe()

count                        7626
unique                          1
top       01/01/2015 - 12/31/2018
freq                         7626
Name: Five Star Date, dtype: object

In [34]:
set([(len(str(num))) for num in df['Five Star Date']])

{23}

In [35]:
df['Five Star Date'].unique()

array(['01/01/2015 - 12/31/2018'], dtype=object)

### Five Star
Data type: object

Value count: 7626

Number of unique values: 6

Percent unique values: 0%

Ranges of values: 1 - 5, "Not Available"

Length of values: 1, 13

Description: Lists the 5-star rating for the facility. The “Dialysis Facility Compare (DFC) Star Program” is a rating system developed by Medicare that assigns 1 to 5 stars to dialysis facilities by comparing the health of the patients in their clinics to the patients in other dialysis facilities across the country.

In [36]:
df['Five Star'].head()

0    2
1    3
2    5
3    4
4    5
Name: Five Star, dtype: object

In [37]:
df['Five Star'].tail()

7621                4
7622                3
7623    Not Available
7624                4
7625                3
Name: Five Star, dtype: object

In [38]:
df['Five Star'].describe()

count     7626
unique       6
top          3
freq      2269
Name: Five Star, dtype: object

In [39]:
df['Five Star'].value_counts()

3                2269
4                1937
5                1844
Not Available     901
2                 491
1                 184
Name: Five Star, dtype: int64

In [40]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Five Star'].value_counts()]).value_counts()

False    6
dtype: int64

### Five Star Data Availability Code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0% unique

Ranges of values: 1, 258, 260, 261

Length of values: 1, 3

Description: Lists whether the facility had sufficient five star data available or the reason for why the data is not available.

Value description:
- 1   : N/A
- 258 : The dialysis center was not open long enough to supply sufficient measure data. 
- 260 : Not enough quality measure data to calculate a star rating.
- 261 : Medicare determined that at least one measure included in the star rating calculation was not accurate for this dialysis center.

In [41]:
df['Five Star Data Availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Five Star Data Availability Code, dtype: int64

In [42]:
df['Five Star Data Availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Five Star Data Availability Code, dtype: int64

In [43]:
df['Five Star Data Availability Code'].value_counts()

1      6725
260     612
258     286
261       3
Name: Five Star Data Availability Code, dtype: int64

In [44]:
df['Five Star Data Availability Code'].count()

7626

### Address Line 1
Data type: object

Value count: 7626

Number of unique values: 7574

Percent unique values: 98.9%

Length of values: 4 - 59

Description: Lists the first line of the address that corresponds to the facility listed.

In [45]:
df['Address Line 1'].head()

0              1910 JOHN BARROW RD
1             7612 ATLANTIC AVENUE
2            720 N MAIN STREET EXT
3    LAUREL SQUARE SHOPPING CENTER
4               9115 ANTIQUE ALLEY
Name: Address Line 1, dtype: object

In [46]:
df['Address Line 1'].describe()

count              7626
unique             7574
top       DIALYSIS UNIT
freq                 23
Name: Address Line 1, dtype: object

In [47]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Address Line 1'].value_counts()]).value_counts()

True     7545
False      29
dtype: int64

In [48]:
set([(len(str(num))) for num in df['Address Line 1']])

{4,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 49,
 50,
 58,
 59}

### Address Line 2
Data type: object

Value count: 1087

Number of unique values: 599

Percent unique values: 46.9% unique

Length of values: 2 - 47

Description: Lists the second line of the address that corresponds to the facility listed.

In [49]:
df['Address Line 2'].head()

0                              NaN
1                              NaN
2                          SUITE 3
3    30214 SUSSEX HIGHWAY, UNIT #4
4                              NaN
Name: Address Line 2, dtype: object

In [50]:
df['Address Line 2'].tail()

7621    SUITE 100
7622          NaN
7623          NaN
7624          NaN
7625          NaN
Name: Address Line 2, dtype: object

In [51]:
df['Address Line 2'].describe()

count          1087
unique          599
top       SUITE 100
freq             81
Name: Address Line 2, dtype: object

In [52]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Address Line 2'].value_counts()]).value_counts()

True     510
False     89
dtype: int64

In [53]:
(set([(len(str(num))) for num in df['Address Line 2']]))

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 41,
 47}

### State
Data type: object

Value count: 7626

Number of unique values: 56

Percent unique values: 0% unique

Length of values: 2

Description: Lists the alphabetic postal code used to identify the state that corresponds to the facility listed.

In [54]:
df['State'].head()

0    AR
1    CA
2    CT
3    DE
4    DE
Name: State, dtype: object

In [55]:
df['State'].tail()

7621    TN
7622    WI
7623    CA
7624    FL
7625    WI
Name: State, dtype: object

In [56]:
df['State'].describe()

count     7626
unique      56
top         TX
freq       749
Name: State, dtype: object

In [57]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['State'].value_counts()]).value_counts()

False    56
dtype: int64

### Zip
Data type: int64

Value count: 7626

Number of unique values: 5276

Percent unique values: 47.5% unique

Ranges of values: 603 - 99801

Length of values: 3 - 5

Description: Lists the full postal ZIP code that corresponds to the facility listed.

In [58]:
df['Zip'].head()

0    72204
1    90201
2     6492
3    19956
4    19933
Name: Zip, dtype: int64

In [59]:
df['Zip'].tail()

7621    37604
7622    53216
7623    92704
7624    33873
7625    53225
Name: Zip, dtype: int64

In [60]:
df['Zip'].describe()

count     7626.000000
mean     50297.359691
std      27581.675445
min        603.000000
25%      29533.000000
50%      46032.000000
75%      76060.750000
max      99801.000000
Name: Zip, dtype: float64

In [61]:
df['Zip'].nunique()

5276

In [62]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Zip'].value_counts()]).value_counts()

True     3625
False    1651
dtype: int64

In [63]:
set([(len(str(num))) for num in df['Zip']])

{3, 4, 5}

### County
Data type: object

Value count: 7626

Number of unique values: 1258

Percent unique values: 6.33% unique

Length of values: 3 - 21

Description: Lists the name of the county that corresponds to the facility listed.

In [64]:
df['County'].head()

0        PULASKI
1    LOS ANGELES
2      NEW HAVEN
3         SUSSEX
4         SUSSEX
Name: County, dtype: object

In [65]:
df['County'].tail()

7621    WASHINGTON
7622     MILWAUKEE
7623        ORANGE
7624        HARDEE
7625     MILWAUKEE
Name: County, dtype: object

In [66]:
df['County'].describe()

count            7626
unique           1258
top       LOS ANGELES
freq              195
Name: County, dtype: object

In [67]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['County'].value_counts()]).value_counts()

False    775
True     483
dtype: int64

In [68]:
set([(len(str(num))) for num in df['County']])

{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21}

### Phone Number
Data type: object

Value count: 7626

Number of unique values: 7581

Percent unique values: 99.0% unique

Length of values: 14

Description: Lists the telephone number that corresponds to the facility listed.

In [69]:
df['Phone Number'].head()

0    (501) 227-0983
1    (323) 562-5511
2    (203) 265-0667
3    (302) 715-3060
4    (302) 337-8789
Name: Phone Number, dtype: object

In [70]:
df['Phone Number'].tail()

7621    (423) 926-2976
7622    (414) 445-2119
7623    (714) 662-4573
7624    (863) 767-0016
7625    (414) 393-0600
Name: Phone Number, dtype: object

In [71]:
df['Phone Number'].describe()

count               7626
unique              7581
top       (787) 292-7979
freq                  13
Name: Phone Number, dtype: object

In [72]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Phone Number'].value_counts()]).value_counts()

True     7548
False      33
dtype: int64

In [73]:
set([(len(str(num))) for num in df['Phone Number']])

{14}

### Profit or Non-Profit
Data type: object

Value count: 7627

Number of unique values: 2

Percent unique values: 0% unique

Ranges of values: Profit, Non-Profit

Length of values: 6, 10

Description: Indicates if the dialysis facility’s operates as a for profit or non-profit business.

In [74]:
df['Profit or Non-Profit'].head()

0    Non-Profit
1        Profit
2        Profit
3        Profit
4        Profit
Name: Profit or Non-Profit, dtype: object

In [75]:
df['Profit or Non-Profit'].tail()

7621    Profit
7622    Profit
7623    Profit
7624    Profit
7625    Profit
Name: Profit or Non-Profit, dtype: object

In [76]:
df['Profit or Non-Profit'].describe()

count       7626
unique         2
top       Profit
freq        6759
Name: Profit or Non-Profit, dtype: object

In [77]:
df['Profit or Non-Profit'].value_counts()

Profit        6759
Non-Profit     867
Name: Profit or Non-Profit, dtype: int64

In [78]:
set([(len(str(num))) for num in df['Profit or Non-Profit']])

{6, 10}

### Chain Owned
Data type: object

Value count: 7626

Number of unique values: 2

Percent unique values: 0% unique

Ranges of values: Yes - No

Length of values: 2 - 3

Description: Indicates whether or not the facility is owned or managed by a chain organization.

In [79]:
df['Chain Owned'].head()

0    Yes
1    Yes
2    Yes
3    Yes
4    Yes
Name: Chain Owned, dtype: object

In [80]:
df['Chain Owned'].tail()

7621    Yes
7622    Yes
7623    Yes
7624    Yes
7625    Yes
Name: Chain Owned, dtype: object

In [81]:
df['Chain Owned'].describe()

count     7626
unique       2
top        Yes
freq      6793
Name: Chain Owned, dtype: object

In [82]:
df['Chain Owned'].value_counts()

Yes    6793
No      833
Name: Chain Owned, dtype: int64

### Chain Organization
Data type: object

Value count: 7625

Number of unique values: 111

Percent unique values: 0.734% unique values

Length of values: 3 - 39

Description: Lists the name of the chain organization if applicable.

In [83]:
df['Chain Organization'].head()

0        DIALYSIS CLINIC, INC.
1                       DAVITA
2    AMERICAN RENAL ASSOCIATES
3          US RENAL CARE, INC.
4       FRESENIUS MEDICAL CARE
Name: Chain Organization, dtype: object

In [84]:
df['Chain Organization'].tail()

7621                    DAVITA
7622                    DAVITA
7623                    DAVITA
7624    FRESENIUS MEDICAL CARE
7625                    DAVITA
Name: Chain Organization, dtype: object

In [85]:
df['Chain Organization'].describe()

count       7625
unique       111
top       DAVITA
freq        2852
Name: Chain Organization, dtype: object

In [86]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Chain Organization'].value_counts()]).value_counts()

True     56
False    55
dtype: int64

In [87]:
set([(len(str(num))) for num in df['Chain Organization']])

{3,
 4,
 6,
 7,
 8,
 11,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39}

### Late Shift
Data type: int64

Value count: 7626

Number of unique values: 2

Percent unique values: 0% unique

Ranges of values: 0 - 1

Length of values: 1

Description: Lists whether or not the facility has a shift starting at 5:00 p.m. or later.

In [88]:
df['Late Shift'].head()

0    0
1    0
2    0
3    0
4    0
Name: Late Shift, dtype: int64

In [89]:
df['Late Shift'].tail()

7621    0
7622    0
7623    0
7624    0
7625    0
Name: Late Shift, dtype: int64

In [90]:
df['Late Shift'].describe()

count    7626.000000
mean        0.167060
std         0.373054
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: Late Shift, dtype: float64

In [91]:
df['Late Shift'].value_counts()

0    6352
1    1274
Name: Late Shift, dtype: int64

###  # of Dialysis Stations
Data type: int64

Value count: 7626

Number of unique values: 68

Percent unique values: 0.157%

Ranges of values: 0 - 80

Mean: 17.4

Length of values: 1 - 2

Description: Indicates the total number of dialysis stations at the dialysis facility.

In [92]:
df['# of Dialysis Stations'].head()

0    18
1    36
2    13
3    16
4    11
Name: # of Dialysis Stations, dtype: int64

In [93]:
df['# of Dialysis Stations'].tail()

7621    16
7622    16
7623    25
7624    17
7625    26
Name: # of Dialysis Stations, dtype: int64

In [94]:
df['# of Dialysis Stations'].describe()

count    7626.000000
mean       17.463284
std         8.495540
min         0.000000
25%        12.000000
50%        17.000000
75%        22.000000
max        80.000000
Name: # of Dialysis Stations, dtype: float64

In [95]:
df['# of Dialysis Stations'].nunique()

68

In [96]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['# of Dialysis Stations'].value_counts()]).value_counts()

False    56
True     12
dtype: int64

### Offers in-center hemodialysis
Data type: int64

Value count: 7626

Number of unique values: 2

Percent unique values: 0% unique

Ranges of values: 0 - 1

Length of values: 1

Description: Indicates whether the facility offers in-center hemodialysis.

In [97]:
df['Offers in-center hemodialysis'].head()

0    1
1    1
2    1
3    1
4    1
Name: Offers in-center hemodialysis, dtype: int64

In [98]:
df['Offers in-center hemodialysis'].tail()

7621    1
7622    1
7623    1
7624    1
7625    1
Name: Offers in-center hemodialysis, dtype: int64

In [99]:
df['Offers in-center hemodialysis'].describe()

count    7626.000000
mean        0.940336
std         0.236879
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Offers in-center hemodialysis, dtype: float64

In [100]:
df['Offers in-center hemodialysis'].value_counts()

1    7171
0     455
Name: Offers in-center hemodialysis, dtype: int64

### Offers peritoneal dialysis
Data type: int64

Value count: 7626

Number of unique values: 2

Percent unique values: 0% unique

Ranges of values: 0 - 1

Length of values: 1

Description: Indicates whether the facility offers peritoneal dialysis.

In [101]:
df['Offers peritoneal dialysis'].head()

0    1
1    1
2    1
3    0
4    1
Name: Offers peritoneal dialysis, dtype: int64

In [102]:
df['Offers peritoneal dialysis'].tail()

7621    0
7622    0
7623    1
7624    1
7625    0
Name: Offers peritoneal dialysis, dtype: int64

In [103]:
df['Offers peritoneal dialysis'].describe()

count    7626.000000
mean        0.525439
std         0.499385
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: Offers peritoneal dialysis, dtype: float64

In [104]:
df['Offers peritoneal dialysis'].nunique()

2

In [105]:
df['Offers peritoneal dialysis'].value_counts()

1    4007
0    3619
Name: Offers peritoneal dialysis, dtype: int64

### Offers home hemodialysis training
Data type: int64

Value count: 7626

Number of unique values: 2

Percent unique values: 0% unique

Ranges of values: 0 - 1

Length of values: 1

Description: Indicates whether the facility offers home hemodialysis training.

In [106]:
df['Offers home hemodialysis training'].head()

0    1
1    0
2    1
3    0
4    1
Name: Offers home hemodialysis training, dtype: int64

In [107]:
df['Offers home hemodialysis training'].tail()

7621    0
7622    0
7623    1
7624    1
7625    0
Name: Offers home hemodialysis training, dtype: int64

In [108]:
df['Offers home hemodialysis training'].describe()

count    7626.00000
mean        0.29006
std         0.45382
min         0.00000
25%         0.00000
50%         0.00000
75%         1.00000
max         1.00000
Name: Offers home hemodialysis training, dtype: float64

In [109]:
df['Offers home hemodialysis training'].nunique()

2

In [110]:
df['Offers home hemodialysis training'].value_counts()

0    5414
1    2212
Name: Offers home hemodialysis training, dtype: int64

### Certification or Recertification Date
Data type: object

Value count: 7626

Number of unique values: 4800

Percent unique values: 0.157%

Length of values: 10

Description: Lists the initial or recertification date for the facility listed. These facilities are certified if they pass inspection. Medicare or Medicaid only covers care provided by certified providers. Being certified is not the same as being accredited.

In [111]:
df['Certification or Recertification Date'].head()

0    10/20/2015
1    04/11/1995
2    01/06/2016
3    09/25/2015
4    10/30/2017
Name: Certification or Recertification Date, dtype: object

In [112]:
df['Certification or Recertification Date'].tail()

7621    01/31/2007
7622    04/21/2014
7623    08/02/2019
7624    07/28/2014
7625    07/22/2002
Name: Certification or Recertification Date, dtype: object

In [113]:
df['Certification or Recertification Date'].describe()

count           7626
unique          4800
top       09/01/1977
freq              72
Name: Certification or Recertification Date, dtype: object

In [114]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['# of Dialysis Stations'].value_counts()]).value_counts()

False    56
True     12
dtype: int64

In [115]:
set([(len(str(num))) for num in df['Certification or Recertification Date']])

{10}

### Claims Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0% unique values

Ranges of values: "07/01/2018 - 06/30/2019"

Length of values: 23

Description: Lists the data collection period for claims-based summaries.

In [116]:
df['Claims Date'].head()

0    07/01/2018 - 06/30/2019
1    07/01/2018 - 06/30/2019
2    07/01/2018 - 06/30/2019
3    07/01/2018 - 06/30/2019
4    07/01/2018 - 06/30/2019
Name: Claims Date, dtype: object

In [117]:
df['Claims Date'].tail()

7621    07/01/2018 - 06/30/2019
7622    07/01/2018 - 06/30/2019
7623    07/01/2018 - 06/30/2019
7624    07/01/2018 - 06/30/2019
7625    07/01/2018 - 06/30/2019
Name: Claims Date, dtype: object

In [118]:
df['Claims Date'].describe()

count                        7626
unique                          1
top       07/01/2018 - 06/30/2019
freq                         7626
Name: Claims Date, dtype: object

In [119]:
set([(len(str(num))) for num in df['Claims Date']])

{23}

### CROWNWeb Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0% unique

Ranges of values: "07/01/2018 - 06/30/2019"

Length of values: 23

Description: Lists the data collection period for CROWNWeb based measures.

In [120]:
df['CROWNWeb Date'].head()

0    07/01/2018 - 06/30/2019
1    07/01/2018 - 06/30/2019
2    07/01/2018 - 06/30/2019
3    07/01/2018 - 06/30/2019
4    07/01/2018 - 06/30/2019
Name: CROWNWeb Date, dtype: object

In [121]:
df['CROWNWeb Date'].tail()

7621    07/01/2018 - 06/30/2019
7622    07/01/2018 - 06/30/2019
7623    07/01/2018 - 06/30/2019
7624    07/01/2018 - 06/30/2019
7625    07/01/2018 - 06/30/2019
Name: CROWNWeb Date, dtype: object

In [122]:
df['CROWNWeb Date'].describe()

count                        7626
unique                          1
top       07/01/2018 - 06/30/2019
freq                         7626
Name: CROWNWeb Date, dtype: object

In [123]:
set([(len(str(num))) for num in df['CROWNWeb Date']])

{23}

### STrR Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0% unique

Ranges of values: "01/01/2018 - 12/31/2018"

Length of values: 23

Description: Lists the time period for patient transfusion summary (STrR).

In [124]:
df['STrR Date'].head()

0    01/01/2018 - 12/31/2018
1    01/01/2018 - 12/31/2018
2    01/01/2018 - 12/31/2018
3    01/01/2018 - 12/31/2018
4    01/01/2018 - 12/31/2018
Name: STrR Date, dtype: object

In [125]:
df['STrR Date'].tail()

7621    01/01/2018 - 12/31/2018
7622    01/01/2018 - 12/31/2018
7623    01/01/2018 - 12/31/2018
7624    01/01/2018 - 12/31/2018
7625    01/01/2018 - 12/31/2018
Name: STrR Date, dtype: object

In [126]:
df['STrR Date'].describe()

count                        7626
unique                          1
top       01/01/2018 - 12/31/2018
freq                         7626
Name: STrR Date, dtype: object

In [127]:
set([(len(str(num))) for num in df['STrR Date']])

{23}

### Percentage of Medicare patients with Hgb<10 g/dL
Data type: object

Value count: 7626

Number of unique values: 91

Percent unique values: 0.0656% unique values

Ranges of values: 0 - 

Length of values: 1-3, 13

Description: Lists the percentage of patients who had average hemoglobin (hgb) less than 10.0 g/dL. Hemoglobin is a protein in red blood cells that carries oxygen from the lungs to the rest of the body. A normal hemoglobin level is 11 to 18 grams per deciliter (g/dL), depending on one's age and gender. But 7 to 8 g/dL is a safe level.

In [128]:
df['Percentage of Medicare patients with Hgb<10 g/dL'].head()

0    21
1    18
2    43
3    20
4    25
Name: Percentage of Medicare patients with Hgb<10 g/dL, dtype: object

In [129]:
df['Percentage of Medicare patients with Hgb<10 g/dL'].tail()

7621               15
7622               10
7623    Not Available
7624               10
7625               19
Name: Percentage of Medicare patients with Hgb<10 g/dL, dtype: object

In [130]:
df['Percentage of Medicare patients with Hgb<10 g/dL'].describe()

count              7626
unique               91
top       Not Available
freq               1109
Name: Percentage of Medicare patients with Hgb<10 g/dL, dtype: object

In [131]:
df['Percentage of Medicare patients with Hgb<10 g/dL'].min()

'0'

In [132]:
df['Percentage of Medicare patients with Hgb<10 g/dL'].max()

'Not Available'

In [133]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Medicare patients with Hgb<10 g/dL'].value_counts()]).value_counts()

False    86
True      5
dtype: int64

In [134]:
set([(len(str(num))) for num in df['Percentage of Medicare patients with Hgb<10 g/dL']])

{1, 2, 3, 13}

### HGB<10 data availability code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0% unique values

Ranges of values: 1, 199, 201, 258 

Length of values: 1, 3

Description: Lists whether the facility had sufficient hemoglobin (hgb) data available or the reason for why the data is not available. Hemoglobin is a protein in red blood cells that carries oxygen from the lungs to the rest of the body. A normal hemoglobin level is 11 to 18 grams per deciliter (g/dL), depending on one's age and gender. But 7 to 8 g/dL is a safe level. 

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure. 
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [135]:
df['HGB<10 data availability code'].head()

0    1
1    1
2    1
3    1
4    1
Name: HGB<10 data availability code, dtype: int64

In [136]:
df['HGB<10 data availability code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: HGB<10 data availability code, dtype: int64

In [137]:
df['HGB<10 data availability code'].count()

7626

In [138]:
df['HGB<10 data availability code'].value_counts()

1      6517
199     575
201     279
258     255
Name: HGB<10 data availability code, dtype: int64

### Percentage of Medicare patients with Hgb>12 g/dL
Data type: object

Value count: 7626

Number of unique values: 21

Percent unique values: 0.0787% unique values

Ranges of values: 0 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of patients who had average hemoglobin (hgb) greater than 12.0 g/dL. Hemoglobin is a protein in red blood cells that carries oxygen from the lungs to the rest of the body. A normal hemoglobin level is 11 to 18 grams per deciliter (g/dL), depending on one's age and gender. But 7 to 8 g/dL is a safe level.

In [139]:
df['Percentage of Medicare patients with Hgb>12 g/dL'].head()

0    0
1    0
2    0
3    0
4    0
Name: Percentage of Medicare patients with Hgb>12 g/dL, dtype: object

In [140]:
df['Percentage of Medicare patients with Hgb>12 g/dL'].tail()

7621                0
7622                0
7623    Not Available
7624                0
7625                0
Name: Percentage of Medicare patients with Hgb>12 g/dL, dtype: object

In [141]:
df['Percentage of Medicare patients with Hgb>12 g/dL'].describe()

count     7626
unique      21
top          0
freq      6121
Name: Percentage of Medicare patients with Hgb>12 g/dL, dtype: object

In [142]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Medicare patients with Hgb>12 g/dL'].value_counts()]).value_counts()

False    15
True      6
dtype: int64

In [143]:
df['Percentage of Medicare patients with Hgb>12 g/dL'].min()

'0'

In [144]:
df['Percentage of Medicare patients with Hgb>12 g/dL'].max()

'Not Available'

In [145]:
set([(len(str(num))) for num in df['Percentage of Medicare patients with Hgb>12 g/dL']])

{1, 2, 13}

### Hgb > 12 data availability code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0% unique values

Ranges of values: 1, 199, 201, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient hemoglobin (hgb) data available or the reason for why the data is not available. Hemoglobin is a protein in red blood cells that carries oxygen from the lungs to the rest of the body. A normal hemoglobin level is 11 to 18 grams per deciliter (g/dL), depending on one's age and gender. But 7 to 8 g/dL is a safe level. 

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure. 
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [146]:
df['Hgb > 12 data availability code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Hgb > 12 data availability code, dtype: int64

In [147]:
df['Hgb > 12 data availability code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Hgb > 12 data availability code, dtype: int64

In [148]:
df['Hgb > 12 data availability code'].describe()

count    7626.000000
mean       31.839890
std        75.349864
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max       258.000000
Name: Hgb > 12 data availability code, dtype: float64

In [149]:
df['Hgb > 12 data availability code'].value_counts()

1      6517
199     575
201     279
258     255
Name: Hgb > 12 data availability code, dtype: int64

### Number of Dialysis Patients with Hgb data
Data type: object

Value count: 7626

Number of unique values: 160 

Percent unique values: 0.315%

Ranges of values: 0 - 

Length of values: 1-3, 13

Description: Lists the number of patients included in the hemoglobin (hgb) greater than 12.0 g/dL summary. Hemoglobin is a protein in red blood cells that carries oxygen from the lungs to the rest of the body. A normal hemoglobin level is 11 to 18 grams per deciliter (g/dL), depending on one's age and gender. But 7 to 8 g/dL is a safe level.

In [150]:
df['Number of Dialysis Patients with Hgb data'].head()

0    48
1    79
2    14
3    20
4    24
Name: Number of Dialysis Patients with Hgb data, dtype: object

In [151]:
df['Number of Dialysis Patients with Hgb data'].tail()

7621               26
7622               42
7623    Not Available
7624               29
7625               58
Name: Number of Dialysis Patients with Hgb data, dtype: object

In [152]:
df['Number of Dialysis Patients with Hgb data'].describe()

count     7626
unique     160
top          0
freq       279
Name: Number of Dialysis Patients with Hgb data, dtype: object

In [153]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Dialysis Patients with Hgb data'].value_counts()]).value_counts()

False    136
True      24
dtype: int64

In [154]:
df['Number of Dialysis Patients with Hgb data'].min()

'0'

In [155]:
df['Number of Dialysis Patients with Hgb data'].max()

'Not Available'

In [156]:
set([(len(str(num))) for num in df['Number of Dialysis Patients with Hgb data']])

{1, 2, 3, 13}

### Patient Transfusion data availability Code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 255, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient transfusion data available or the reason for why the data is not available.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure. 
- 255 : Medicare determined that the percentage reported was not accurate.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [157]:
df['Patient Transfusion data availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Patient Transfusion data availability Code, dtype: int64

In [158]:
df['Patient Transfusion data availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Patient Transfusion data availability Code, dtype: int64

In [159]:
df['Patient Transfusion data availability Code'].count()

7626

In [160]:
df['Patient Transfusion data availability Code'].value_counts()

1      6285
258     678
199     638
201      22
255       3
Name: Patient Transfusion data availability Code, dtype: int64

### Patient Transfusion category text
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Not Available, Worse than Expected, Better than Expected 

Length of values: 11, 13, 19, 20

Description: Patient transfusion category.

Value description:
- As Expected          : Patient transfusions categorized as “As Expected”       
- Worse than Expected  :  Patient transfusions categorized as “Worse than Expected”
- Better than Expected : Patient transfusions categorized as “Better than Expected"
- Not Available

In [161]:
df['Patient Transfusion category text'].head()

0            As Expected
1    Worse than Expected
2            As Expected
3            As Expected
4            As Expected
Name: Patient Transfusion category text, dtype: object

In [162]:
df['Patient Transfusion category text'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624      As Expected
7625      As Expected
Name: Patient Transfusion category text, dtype: object

In [163]:
df['Patient Transfusion category text'].describe()

count            7626
unique              4
top       As Expected
freq             5851
Name: Patient Transfusion category text, dtype: object

In [164]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Patient Transfusion category text'].value_counts()]).value_counts()

False    4
dtype: int64

In [165]:
df['Patient Transfusion category text'].value_counts()

As Expected             5851
Not Available           1341
Worse than Expected      430
Better than Expected       4
Name: Patient Transfusion category text, dtype: int64

In [166]:
set([(len(str(num))) for num in df['Patient Transfusion category text']])

{11, 13, 19, 20}

### Number of patients included in the transfusion summary
Data type: object

Value count: 7626

Number of unique values: 226

Percent unique values: 0.446%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility’s transfusion summary.

In [167]:
df['Number of patients included in the transfusion summary'].head()

0     65
1    147
2     23
3     21
4     30
Name: Number of patients included in the transfusion summary, dtype: object

In [168]:
df['Number of patients included in the transfusion summary'].tail()

7621               56
7622               55
7623    Not Available
7624               48
7625               86
Name: Number of patients included in the transfusion summary, dtype: object

In [169]:
df['Number of patients included in the transfusion summary'].describe()

count     7626
unique     226
top          0
freq       311
Name: Number of patients included in the transfusion summary, dtype: object

In [170]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients included in the transfusion summary'].value_counts()]).value_counts()

False    192
True      34
dtype: int64

In [171]:
df['Number of patients included in the transfusion summary'].min()

'0'

In [172]:
df['Number of patients included in the transfusion summary'].max()

'Not Available'

In [173]:
set([(len(str(num))) for num in df['Number of patients included in the transfusion summary']])

{1, 2, 3, 13}

### Percent of Adult HD patients with Kt/V >= 1.2
Data type: object

Value count: 7626 

Number of unique values: 54

Percent unique values: 0.170% 

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the percentage of adult HD patients with Kt/V greater than or equal to 1.2. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [174]:
df['Percent of Adult HD patients with Kt/V >= 1.2'].head()

0    93
1    99
2    96
3    98
4    98
Name: Percent of Adult HD patients with Kt/V >= 1.2, dtype: object

In [175]:
df['Percent of Adult HD patients with Kt/V >= 1.2'].tail()

7621               99
7622               95
7623    Not Available
7624               99
7625               93
Name: Percent of Adult HD patients with Kt/V >= 1.2, dtype: object

In [176]:
df['Percent of Adult HD patients with Kt/V >= 1.2'].describe()

count     7626
unique      54
top         99
freq      1486
Name: Percent of Adult HD patients with Kt/V >= 1.2, dtype: object

In [177]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percent of Adult HD patients with Kt/V >= 1.2'].value_counts()]).value_counts()

False    41
True     13
dtype: int64

In [178]:
df['Percent of Adult HD patients with Kt/V >= 1.2'].min()

'0'

In [179]:
df['Percent of Adult HD patients with Kt/V >= 1.2'].max()

'Not Available'

In [180]:
set([(len(str(num))) for num in df['Percent of Adult HD patients with Kt/V >= 1.2']])

{1, 2, 3, 13}

### Adult HD Kt/V data availability code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 256, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient adult HD Kt/V data available or the reason for why the data is not available. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

Value description: 
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 256 : The dialysis center does not provide hemodialysis during the reporting period. 
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [181]:
df['Adult HD Kt/V data availability code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Adult HD Kt/V data availability code, dtype: int64

In [182]:
df['Adult HD Kt/V data availability code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Adult HD Kt/V data availability code, dtype: int64

In [183]:
df['Adult HD Kt/V data availability code'].count()

7626

In [184]:
df['Adult HD Kt/V data availability code'].value_counts()

1      6755
199     294
201     238
258     197
256     142
Name: Adult HD Kt/V data availability code, dtype: int64

### Percentage of Adult PD PTS with Kt/V >= 1.7
Data type: object

Value count: 7626

Number of unique values: 71

Percent unique values: 0.210%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the percentage of adult PD PTS patients with Kt/V greater than or equal to 1.7. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [185]:
df['Percentage of Adult PD PTS with Kt/V >= 1.7'].head()

0               97
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Percentage of Adult PD PTS with Kt/V >= 1.7, dtype: object

In [186]:
df['Percentage of Adult PD PTS with Kt/V >= 1.7'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Percentage of Adult PD PTS with Kt/V >= 1.7, dtype: object

In [187]:
df['Percentage of Adult PD PTS with Kt/V >= 1.7'].describe()

count              7626
unique               71
top       Not Available
freq               5480
Name: Percentage of Adult PD PTS with Kt/V >= 1.7, dtype: object

In [188]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult PD PTS with Kt/V >= 1.7'].value_counts()]).value_counts()

False    55
True     16
dtype: int64

In [189]:
df['Percentage of Adult PD PTS with Kt/V >= 1.7'].min()

'0'

In [190]:
df['Percentage of Adult PD PTS with Kt/V >= 1.7'].max()

'Not Available'

In [191]:
set([(len(str(num))) for num in df['Percentage of Adult PD PTS with Kt/V >= 1.7']])

{1, 2, 3, 13}

### Adult PD Kt/V Data Availability Code
Data type: int64 

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 257, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient adult PD Kt/V data available or the reason for why the data is not available. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 257 : The dialysis center does not provide peritoneal dialysis during the reporting period. 
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [192]:
df['Adult PD Kt/V Data Availability Code'].head()

0      1
1    199
2    199
3    257
4    199
Name: Adult PD Kt/V Data Availability Code, dtype: int64

In [193]:
df['Adult PD Kt/V Data Availability Code'].tail()

7621    257
7622    257
7623    258
7624    199
7625    257
Name: Adult PD Kt/V Data Availability Code, dtype: int64

In [194]:
df['Adult PD Kt/V Data Availability Code'].count()

7626

In [195]:
df['Adult PD Kt/V Data Availability Code'].value_counts()

257    3362
1      2146
199    1116
201     835
258     167
Name: Adult PD Kt/V Data Availability Code, dtype: int64

### Percentage of Pediatric HD patients with Kt/V >= 1.2
Data type: object

Value count: 7626

Number of unique values: 12

Percent unique values: 0.105%

Ranges of values: 100 - 

Length of values: 2, 3, 13

Description: Lists the percentage of pediatric HD patients with Kt/V greater than or equal to 1.2. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [196]:
df['Percentage of Pediatric HD patients with Kt/V >= 1.2'].head()

0    Not Available
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Percentage of Pediatric HD patients with Kt/V >= 1.2, dtype: object

In [197]:
df['Percentage of Pediatric HD patients with Kt/V >= 1.2'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Percentage of Pediatric HD patients with Kt/V >= 1.2, dtype: object

In [198]:
df['Percentage of Pediatric HD patients with Kt/V >= 1.2'].describe()

count              7626
unique               12
top       Not Available
freq               7610
Name: Percentage of Pediatric HD patients with Kt/V >= 1.2, dtype: object

In [199]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Pediatric HD patients with Kt/V >= 1.2'].value_counts()]).value_counts()

True     8
False    4
dtype: int64

In [200]:
df['Percentage of Pediatric HD patients with Kt/V >= 1.2'].min()

'100'

In [201]:
df['Percentage of Pediatric HD patients with Kt/V >= 1.2'].max()

'Not Available'

In [202]:
set([(len(str(num))) for num in df['Percentage of Pediatric HD patients with Kt/V >= 1.2']])

{2, 3, 13}

### Pediatric HD Kt/V Data Availability Code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258, 259

Length of values: 1, 3

Description: Lists whether the facility had sufficient Pediatric HD Kt/V data available or the reason for why the data is not available. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment(characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 258 : The dialysis center was not open long enough to supply sufficient measure data. 
- 259 : The dialysis center does not provide hemodialysis and/or peritoneal dialysis to pediatric patients during the reporting period.

In [203]:
df['Pediatric HD Kt/V Data Availability Code'].head()

0    259
1    259
2    259
3    259
4    259
Name: Pediatric HD Kt/V Data Availability Code, dtype: int64

In [204]:
df['Pediatric HD Kt/V Data Availability Code'].tail()

7621    259
7622    259
7623    258
7624    259
7625    259
Name: Pediatric HD Kt/V Data Availability Code, dtype: int64

In [205]:
df['Pediatric HD Kt/V Data Availability Code'].count()

7626

In [206]:
df['Pediatric HD Kt/V Data Availability Code'].value_counts()

259    7106
201     247
199     185
258      72
1        16
Name: Pediatric HD Kt/V Data Availability Code, dtype: int64

### Number of Adult HD patients with Kt/V data
Data type: object

Value count: 7626

Number of unique values: 271

Percent unique values: 0.498%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of adult HD patients included in Kt/V greater than or equal to 1.2 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [207]:
df['Number of Adult HD patients with Kt/V data'].head()

0     83
1    226
2     36
3     29
4     47
Name: Number of Adult HD patients with Kt/V data, dtype: object

In [208]:
df['Number of Adult HD patients with Kt/V data'].tail()

7621               96
7622               93
7623    Not Available
7624               49
7625              114
Name: Number of Adult HD patients with Kt/V data, dtype: object

In [209]:
df['Number of Adult HD patients with Kt/V data'].describe()

count     7626
unique     271
top          0
freq       380
Name: Number of Adult HD patients with Kt/V data, dtype: object

In [210]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Adult HD patients with Kt/V data'].value_counts()]).value_counts()

False    233
True      38
dtype: int64

In [211]:
df['Number of Adult HD patients with Kt/V data'].min()

'0'

In [212]:
df['Number of Adult HD patients with Kt/V data'].max()

'Not Available'

In [213]:
set([(len(str(num))) for num in df['Number of Adult HD patients with Kt/V data']])

{1, 2, 3, 13}

### Number of Adult HD patient-months with Kt/V data
Data type: object

Value count: 7626

Number of unique values: 1630

Percent unique values: 4.62%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the number of adult HD patient-months included in Kt/V greater than or equal to 1.2 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [214]:
df['Number of Adult HD patient-months with Kt/V data'].head()

0     691
1    2004
2     305
3     275
4     363
Name: Number of Adult HD patient-months with Kt/V data, dtype: object

In [215]:
df['Number of Adult HD patient-months with Kt/V data'].tail()

7621              769
7622              807
7623    Not Available
7624              355
7625              959
Name: Number of Adult HD patient-months with Kt/V data, dtype: object

In [216]:
df['Number of Adult HD patient-months with Kt/V data'].describe()

count              7626
unique             1630
top       Not Available
freq                451
Name: Number of Adult HD patient-months with Kt/V data, dtype: object

In [217]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Adult HD patient-months with Kt/V data'].value_counts()]).value_counts()

False    1278
True      352
dtype: int64

In [218]:
df['Number of Adult HD patient-months with Kt/V data'].min()

'1'

In [219]:
df['Number of Adult HD patient-months with Kt/V data'].max()

'Not Available'

In [220]:
set([(len(str(num))) for num in df['Number of Adult HD patient-months with Kt/V data']])

{1, 2, 3, 4, 13}

### Number of Adult PD patients with Kt/V data
Data type: object

Value count: 7626

Number of unique values: 137

Percent unique values: 0.446%

Ranges of values: 0 -

Length of values: 1 - 3, 13

Description: Lists the number of adult PD patients included in Kt/V greater than or equal to 1.7 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [221]:
df['Number of Adult PD patients with Kt/V data'].head()

0    23
1     8
2     8
3     0
4     6
Name: Number of Adult PD patients with Kt/V data, dtype: object

In [222]:
df['Number of Adult PD patients with Kt/V data'].tail()

7621                0
7622                0
7623    Not Available
7624                6
7625                0
Name: Number of Adult PD patients with Kt/V data, dtype: object

In [223]:
df['Number of Adult PD patients with Kt/V data'].describe()

count     7626
unique     137
top          0
freq      4197
Name: Number of Adult PD patients with Kt/V data, dtype: object

In [224]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Adult PD patients with Kt/V data'].value_counts()]).value_counts()

False    103
True      34
dtype: int64

In [225]:
df['Number of Adult PD patients with Kt/V data'].min()

'0'

In [226]:
df['Number of Adult PD patients with Kt/V data'].max()

'Not Available'

In [227]:
set([(len(str(num))) for num in df['Number of Adult PD patients with Kt/V data']])

{1, 2, 3, 13}

### Number of Adult PD patient-months with Kt/V data
Data type: object

Value count: 7626

Number of unique values: 611

Percent unique values: 2.65%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the number of adult PD patient-months included in Kt/V greater than or equal to 1.7 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [228]:
df['Number of Adult PD patient-months with Kt/V data'].head()

0              160
1               61
2               62
3    Not Available
4               42
Name: Number of Adult PD patient-months with Kt/V data, dtype: object

In [229]:
df['Number of Adult PD patient-months with Kt/V data'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624               30
7625    Not Available
Name: Number of Adult PD patient-months with Kt/V data, dtype: object

In [230]:
df['Number of Adult PD patient-months with Kt/V data'].describe()

count              7626
unique              611
top       Not Available
freq               4268
Name: Number of Adult PD patient-months with Kt/V data, dtype: object

In [231]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Adult PD patient-months with Kt/V data'].value_counts()]).value_counts()

False    409
True     202
dtype: int64

In [232]:
df['Number of Adult PD patient-months with Kt/V data'].min()

'1'

In [233]:
df['Number of Adult PD patient-months with Kt/V data'].max()

'Not Available'

In [234]:
set([(len(str(num))) for num in df['Number of Adult PD patient-months with Kt/V data']])

{1, 2, 3, 4, 13}

### Number of Pediatric HD patients with Kt/V data
Data type: object

Value count: 7626

Number of unique values: 20

Percent unique values: 0.0393%

Ranges of values: 0 - 

Length of values: 1 - 2, 13

Description: Lists the number of pediatric HD patients included in Kt/V greater than or equal to 1.2 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [235]:
df['Number of Pediatric HD patients with Kt/V data'].head()

0    0
1    0
2    0
3    0
4    0
Name: Number of Pediatric HD patients with Kt/V data, dtype: object

In [236]:
df['Number of Pediatric HD patients with Kt/V data'].tail()

7621                0
7622                0
7623    Not Available
7624                0
7625                0
Name: Number of Pediatric HD patients with Kt/V data, dtype: object

In [237]:
df['Number of Pediatric HD patients with Kt/V data'].describe()

count     7626
unique      20
top          0
freq      7353
Name: Number of Pediatric HD patients with Kt/V data, dtype: object

In [238]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Pediatric HD patients with Kt/V data'].value_counts()]).value_counts()

False    17
True      3
dtype: int64

In [239]:
df['Number of Pediatric HD patients with Kt/V data'].min()

'0'

In [240]:
df['Number of Pediatric HD patients with Kt/V data'].max()

'Not Available'

In [241]:
set([(len(str(num))) for num in df['Number of Pediatric HD patients with Kt/V data']])

{1, 2, 13}

### Number of Pediatric HD patient-months with Kt/V data
Data type: object 

Value count: 7626

Number of unique values: 68

Percent unique values: 0.459%

Ranges of values: 1 - 

Length of values: 1 - 3, 13

Description: Lists the number of pediatric HD patientmonths included in Kt/V greater than or equal to 1.2 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [242]:
df['Number of Pediatric HD patient-months with Kt/V data'].head()

0    Not Available
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Number of Pediatric HD patient-months with Kt/V data, dtype: object

In [243]:
df['Number of Pediatric HD patient-months with Kt/V data'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Number of Pediatric HD patient-months with Kt/V data, dtype: object

In [244]:
df['Number of Pediatric HD patient-months with Kt/V data'].describe()

count              7626
unique               68
top       Not Available
freq               7424
Name: Number of Pediatric HD patient-months with Kt/V data, dtype: object

In [245]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Pediatric HD patient-months with Kt/V data'].value_counts()]).value_counts()

True     35
False    33
dtype: int64

In [246]:
df['Number of Pediatric HD patient-months with Kt/V data'].min()

'1'

In [247]:
df['Number of Pediatric HD patient-months with Kt/V data'].max()

'Not Available'

In [248]:
set([(len(str(num))) for num in df['Number of Pediatric HD patient-months with Kt/V data']])

{1, 2, 3, 13}

### Hypercalcemia Data Availability Code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient hypercalcemia data available or the reason for why the data is not available. Hypercalcemia is a condition in which the calcium level in one's blood is above normal. Too much calcium in the blood can weaken bones, create kidney stones, and interfere with how the heart and brain work. Hypercalcemia is usually a result of overactive parathyroid glands.
A normal serum calcium level is 8-10 mg/dL (2-2.5 mmol/L) with some interlaboratory variation in the reference range, and hypercalcemia is defined as a serum calcium level greater than 10.5 mg/dL (>2.5 mmol/L).

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [249]:
df['Hypercalcemia Data Availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Hypercalcemia Data Availability Code, dtype: int64

In [250]:
df['Hypercalcemia Data Availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Hypercalcemia Data Availability Code, dtype: int64

In [251]:
df['Hypercalcemia Data Availability Code'].count()

7626

In [252]:
df['Hypercalcemia Data Availability Code'].value_counts()

1      7204
258     203
199     124
201      95
Name: Hypercalcemia Data Availability Code, dtype: int64

### Number of patients in hypercalcemia summary
Data type: object

Value count: 7626

Number of unique values: 311

Percent unique values: 0.656%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility’s hypercalcemia summary. Hypercalcemia is a condition in which the calcium level in one's blood is above normal. Too much calcium in the blood can weaken bones, create kidney stones, and interfere with how the heart and brain work. Hypercalcemia is usually a result of overactive parathyroid glands.
A normal serum calcium level is 8-10 mg/dL (2-2.5 mmol/L) with some interlaboratory variation in the reference range, and hypercalcemia is defined as a serum calcium level greater than 10.5 mg/dL (>2.5 mmol/L).

In [253]:
df['Number of patients in hypercalcemia summary'].head()

0    103
1    235
2     44
3     29
4     55
Name: Number of patients in hypercalcemia summary, dtype: object

In [254]:
df['Number of patients in hypercalcemia summary'].tail()

7621               99
7622               93
7623    Not Available
7624               62
7625              119
Name: Number of patients in hypercalcemia summary, dtype: object

In [255]:
df['Number of patients in hypercalcemia summary'].describe()

count     7626
unique     311
top          0
freq        95
Name: Number of patients in hypercalcemia summary, dtype: object

In [256]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients in hypercalcemia summary'].value_counts()]).value_counts()

False    261
True      50
dtype: int64

In [257]:
df['Number of patients in hypercalcemia summary'].min()

'0'

In [258]:
df['Number of patients in hypercalcemia summary'].max()

'Not Available'

In [259]:
set([(len(str(num))) for num in df['Number of patients in hypercalcemia summary']])

{1, 2, 3, 13}

### Number of patient-months in hypercalcemia summary
Data type: object

Value count: 7626

Number of unique values: 1866

Percent unique values: 5.51%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the number of patient-months included in the facility’s hypercalcemia summary. Hypercalcemia is a condition in which the calcium level in one's blood is above normal. Too much calcium in the blood can weaken bones, create kidney stones, and interfere with how the heart and brain work. Hypercalcemia is usually a result of overactive parathyroid glands.
A normal serum calcium level is 8-10 mg/dL (2-2.5 mmol/L) with some interlaboratory variation in the reference range, and hypercalcemia is defined as a serum calcium level greater than 10.5 mg/dL (>2.5 mmol/L).

In [260]:
df['Number of patient-months in hypercalcemia summary'].head()

0     906
1    2092
2     367
3     275
4     442
Name: Number of patient-months in hypercalcemia summary, dtype: object

In [261]:
df['Number of patient-months in hypercalcemia summary'].tail()

7621              805
7622              807
7623    Not Available
7624              446
7625             1005
Name: Number of patient-months in hypercalcemia summary, dtype: object

In [262]:
df['Number of patient-months in hypercalcemia summary'].describe()

count              7626
unique             1866
top       Not Available
freq                163
Name: Number of patient-months in hypercalcemia summary, dtype: object

In [263]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patient-months in hypercalcemia summary'].value_counts()]).value_counts()

False    1446
True      420
dtype: int64

In [264]:
df['Number of patient-months in hypercalcemia summary'].min()

'0'

In [265]:
df['Number of patient-months in hypercalcemia summary'].max()

'Not Available'

In [266]:
set([(len(str(num))) for num in df['Number of patient-months in hypercalcemia summary']])

{1, 2, 3, 4, 13}

### Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)
Data type: object

Value count: 7626

Number of unique values: 49

Percent unique values: 0.197%

Ranges of values: 0 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of Adult patients with Hypercalcemia (serum calcium greater than 10.2 mg/dL). Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [267]:
df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)'].head()

0    1
1    2
2    1
3    0
4    1
Name: Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL), dtype: object

In [268]:
df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)'].tail()

7621                0
7622                2
7623    Not Available
7624                0
7625                2
Name: Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL), dtype: object

In [269]:
df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)'].describe()

count     7626
unique      49
top          1
freq      2064
Name: Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL), dtype: object

In [270]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)'].value_counts()]).value_counts()

False    34
True     15
dtype: int64

In [271]:
df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)'].min()

'0'

In [272]:
df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)'].max()

'Not Available'

In [273]:
set([(len(str(num))) for num in df['Percentage of Adult patients with hypercalcemia (serum calcium greater than 10.2 mg/dL)']])

{1, 2, 13}

### Number of patients in Serum phosphorus summary
Data type: object

Value count: 7626

Number of unique values: 324

Percent unique values: 0.721%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility’s serum phosphorus summary.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [274]:
df['Number of patients in Serum phosphorus summary'].head()

0    111
1    235
2     46
3     30
4     55
Name: Number of patients in Serum phosphorus summary, dtype: object

In [275]:
df['Number of patients in Serum phosphorus summary'].tail()

7621              106
7622               98
7623    Not Available
7624               66
7625              124
Name: Number of patients in Serum phosphorus summary, dtype: object

In [276]:
df['Number of patients in Serum phosphorus summary'].describe()

count     7626
unique     324
top          0
freq       108
Name: Number of patients in Serum phosphorus summary, dtype: object

In [277]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients in Serum phosphorus summary'].value_counts()]).value_counts()

False    269
True      55
dtype: int64

In [278]:
df['Number of patients in Serum phosphorus summary'].min()

'0'

In [279]:
df['Number of patients in Serum phosphorus summary'].max()

'Not Available'

In [280]:
set([(len(str(num))) for num in df['Number of patients in Serum phosphorus summary']])

{1, 2, 3, 13}

### Number of patient-months in Serum phosphorus summary 
Data type: object

Value count: 7626

Number of unique values: 1904

Percent unique values: 6.22%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the number of patient-months included in the facility’s serum phosphorus summary.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [281]:
df['Number of patient-months in Serum phosphorus summary '].head()

0     963
1    2133
2     360
3     290
4     455
Name: Number of patient-months in Serum phosphorus summary , dtype: object

In [282]:
df['Number of patient-months in Serum phosphorus summary '].tail()

7621              865
7622              827
7623    Not Available
7624              472
7625             1040
Name: Number of patient-months in Serum phosphorus summary , dtype: object

In [283]:
df['Number of patient-months in Serum phosphorus summary '].describe()

count              7626
unique             1904
top       Not Available
freq                163
Name: Number of patient-months in Serum phosphorus summary , dtype: object

In [284]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patient-months in Serum phosphorus summary '].value_counts()]).value_counts()

False    1430
True      474
dtype: int64

In [285]:
df['Number of patient-months in Serum phosphorus summary '].min()

'0'

In [286]:
df['Number of patient-months in Serum phosphorus summary '].max()

'Not Available'

In [287]:
set([(len(str(num))) for num in df['Number of patient-months in Serum phosphorus summary ']])

{1, 2, 3, 4, 13}

### Serum phosphorus Data Availability Code 
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient serum phosphorus data available or the reason for why the data is not available.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [288]:
df['Serum phosphorus Data Availability Code '].head()

0    1
1    1
2    1
3    1
4    1
Name: Serum phosphorus Data Availability Code , dtype: int64

In [289]:
df['Serum phosphorus Data Availability Code '].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Serum phosphorus Data Availability Code , dtype: int64

In [290]:
df['Serum phosphorus Data Availability Code '].count()

7626

In [291]:
df['Serum phosphorus Data Availability Code '].value_counts()

1      7215
258     184
199     119
201     108
Name: Serum phosphorus Data Availability Code , dtype: int64

### Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL
Data type: object

Value count: 7626

Number of unique values: 36

Percent unique values:  0.0918%

Ranges of values: 0 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of Adult patients with serum phosphorus less than 3.5 mg/dL.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [292]:
df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL'].head()

0    5
1    7
2    5
3    7
4    7
Name: Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL, dtype: object

In [293]:
df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL'].tail()

7621                6
7622                7
7623    Not Available
7624               11
7625               12
Name: Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL, dtype: object

In [294]:
df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL'].describe()

count     7626
unique      36
top          8
freq      1037
Name: Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL, dtype: object

In [295]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL'].value_counts()]).value_counts()

False    29
True      7
dtype: int64

In [296]:
df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL'].min()

'0'

In [297]:
df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL'].max()

'Not Available'

In [298]:
set([(len(str(num))) for num in df['Percentage of Adult patients with serum phosphorus less than 3.5 mg/dL']])

{1, 2, 13}

### Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL
Data type: object

Value count: 7626

Number of unique values: 47

Percent unique values: 0.118%

Ranges of values: 10 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [299]:
df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL'].head()

0    18
1    23
2    31
3    29
4    25
Name: Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL, dtype: object

In [300]:
df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL'].tail()

7621               24
7622               18
7623    Not Available
7624               28
7625               26
Name: Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL, dtype: object

In [301]:
df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL'].describe()

count     7626
unique      47
top         24
freq       703
Name: Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL, dtype: object

In [302]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL'].value_counts()]).value_counts()

False    38
True      9
dtype: int64

In [303]:
df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL'].min()

'10'

In [304]:
df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL'].max()

'Not Available'

In [305]:
set([(len(str(num))) for num in df['Percentage of Adult patients with serum phosphorus between 3.5-4.5 mg/dL']])

{1, 2, 13}

### Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL
Data type: object

Value count: 7626

Number of unique values: 45

Percent unique values: 0.0656%

Ranges of values: 12 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [306]:
df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL'].head()

0    22
1    30
2    42
3    42
4    28
Name: Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL, dtype: object

In [307]:
df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL'].tail()

7621               40
7622               31
7623    Not Available
7624               36
7625               31
Name: Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL, dtype: object

In [308]:
df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL'].describe()

count     7626
unique      45
top         30
freq       545
Name: Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL, dtype: object

In [309]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL'].value_counts()]).value_counts()

False    40
True      5
dtype: int64

In [310]:
df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL'].min()

'12'

In [311]:
df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL'].max()

'Not Available'

In [312]:
set([(len(str(num))) for num in df['Percentage of Adult patients with serum phosphorus between 4.6-5.5 mg/dL']])

{1, 2, 13}

### Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL
Data type: object

Value count: 7626

Number of unique values: 45

Percent unique values: 0.0525%

Ranges of values: 10 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [313]:
df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL'].head()

0    30
1    19
2    18
3    15
4    28
Name: Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL, dtype: object

In [314]:
df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL'].tail()

7621               14
7622               22
7623    Not Available
7624               17
7625               18
Name: Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL, dtype: object

In [315]:
df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL'].describe()

count     7626
unique      45
top         22
freq       543
Name: Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL, dtype: object

In [316]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL'].value_counts()]).value_counts()

False    41
True      4
dtype: int64

In [317]:
df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL'].min()

'10'

In [318]:
df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL'].max()

'Not Available'

In [319]:
set([(len(str(num))) for num in df['Percentage of Adult patients with serum phosphorus between 5.6-7.0 mg/dL']])

{1, 2, 13}

### Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL
Data type: object

Value count: 7626

Number of unique values: 41

Percent unique values: 0.0131%

Ranges of values: 0 - 

Length of values: 1 - 2, 13

Description: Lists the percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL.
Serum phosphorus is measured in milligrams of phosphorus per deciliter of blood (mg/dL). According to Mayo Medical Laboratories, a normal range for adults is generally 2.5 to 4.5 mg/dL. The normal range varies slightly depending on your age.
Most commonly, a high level of phosphorus is related to a kidney disorder. It shows that your kidneys are having difficulty clearing phosphorus from your blood. A high level of phosphorus can also mean uncontrolled diabetes and other endocrine disorders.

In [320]:
df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL'].head()

0    25
1    21
2     4
3     8
4    12
Name: Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL, dtype: object

In [321]:
df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL'].tail()

7621               16
7622               21
7623    Not Available
7624                9
7625               14
Name: Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL, dtype: object

In [322]:
df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL'].describe()

count     7626
unique      41
top         14
freq       588
Name: Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL, dtype: object

In [323]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL'].value_counts()]).value_counts()

False    40
True      1
dtype: int64

In [324]:
df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL'].min()

'0'

In [325]:
df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL'].max()

'Not Available'

In [326]:
set([(len(str(num))) for num in df['Percentage of Adult patients with serum phosphorus greater than 7.0 mg/dL']])

{1, 2, 13}

### SHR Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0%

Ranges of values: "01/01/2018 - 12/31/2018"

Length of values: 23

Description: Lists the time period for patient hospitalization summary.

In [327]:
df['SHR Date'].head()

0    01/01/2018 - 12/31/2018
1    01/01/2018 - 12/31/2018
2    01/01/2018 - 12/31/2018
3    01/01/2018 - 12/31/2018
4    01/01/2018 - 12/31/2018
Name: SHR Date, dtype: object

In [328]:
df['SHR Date'].tail()

7621    01/01/2018 - 12/31/2018
7622    01/01/2018 - 12/31/2018
7623    01/01/2018 - 12/31/2018
7624    01/01/2018 - 12/31/2018
7625    01/01/2018 - 12/31/2018
Name: SHR Date, dtype: object

In [329]:
df['SHR Date'].value_counts()

01/01/2018 - 12/31/2018    7626
Name: SHR Date, dtype: int64

In [330]:
set([(len(str(num))) for num in df['SHR Date']])

{23}

### SRR Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0%

Ranges of values: "01/01/2018 - 12/31/2018"

Length of values: 23

Description: Lists the time period for patient readmission summary.

In [331]:
df['SRR Date'].head()

0    01/01/2018 - 12/31/2018
1    01/01/2018 - 12/31/2018
2    01/01/2018 - 12/31/2018
3    01/01/2018 - 12/31/2018
4    01/01/2018 - 12/31/2018
Name: SRR Date, dtype: object

In [332]:
df['SRR Date'].tail()

7621    01/01/2018 - 12/31/2018
7622    01/01/2018 - 12/31/2018
7623    01/01/2018 - 12/31/2018
7624    01/01/2018 - 12/31/2018
7625    01/01/2018 - 12/31/2018
Name: SRR Date, dtype: object

In [333]:
df['SRR Date'].value_counts()

01/01/2018 - 12/31/2018    7626
Name: SRR Date, dtype: int64

In [334]:
set([(len(str(num))) for num in df['SRR Date']])

{23}

### SMR Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0%

Ranges of values: "01/01/2015 - 12/31/2018"

Length of values: 23

Description: Lists the data collection period for patient survival summary.

In [335]:
df['SMR Date'].head()

0    01/01/2015 - 12/31/2018
1    01/01/2015 - 12/31/2018
2    01/01/2015 - 12/31/2018
3    01/01/2015 - 12/31/2018
4    01/01/2015 - 12/31/2018
Name: SMR Date, dtype: object

In [336]:
df['SMR Date'].tail()

7621    01/01/2015 - 12/31/2018
7622    01/01/2015 - 12/31/2018
7623    01/01/2015 - 12/31/2018
7624    01/01/2015 - 12/31/2018
7625    01/01/2015 - 12/31/2018
Name: SMR Date, dtype: object

In [337]:
df['SMR Date'].value_counts()

01/01/2015 - 12/31/2018    7626
Name: SMR Date, dtype: int64

In [338]:
set([(len(str(num))) for num in df['SRR Date']])

{23}

### Patient Hospitalization category text
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Not Available, Worse than Expected, Better than Expected

Length of values: 11, 13, 19, 20

Description: Patient hospitalization category.

In [339]:
df['Patient Hospitalization category text'].head()

0    As Expected
1    As Expected
2    As Expected
3    As Expected
4    As Expected
Name: Patient Hospitalization category text, dtype: object

In [340]:
df['Patient Hospitalization category text'].tail()

7621    Worse than Expected
7622            As Expected
7623          Not Available
7624            As Expected
7625            As Expected
Name: Patient Hospitalization category text, dtype: object

In [341]:
df['Patient Hospitalization category text'].count()

7626

In [342]:
df['Patient Hospitalization category text'].value_counts()

As Expected             6520
Not Available            769
Worse than Expected      257
Better than Expected      80
Name: Patient Hospitalization category text, dtype: int64

In [343]:
set([(len(str(num))) for num in df['Patient Hospitalization category text']])

{11, 13, 19, 20}

### Patient Hospitalization data availability Code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0% 

Ranges of values: 1, 199, 201, 255, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient hospitalization data available or the reason for why the data is not available.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 255 : Medicare determined that the percentage reported was not accurate.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [344]:
df['Patient Hospitalization data availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Patient Hospitalization data availability Code, dtype: int64

In [345]:
df['Patient Hospitalization data availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Patient Hospitalization data availability Code, dtype: int64

In [346]:
df['Patient Hospitalization data availability Code'].count()

7626

In [347]:
df['Patient Hospitalization data availability Code'].value_counts()

1      6857
258     607
199     150
201       9
255       3
Name: Patient Hospitalization data availability Code, dtype: int64

### Patient Hospital Readmission Category
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Not Available, Worse than Expected, Better than Expected

Length of values: 11, 13, 19, 20

Description: Patient readmission category.

Value description:
- As Expected          : Patient hospital readmission categorized as “As Expected”       
- Worse than Expected  :  Patient hospital readmission categorized as “Worse than Expected”
- Better than Expected : Patient hospital readmission categorized as “Better than Expected"
- Not Available

In [348]:
df['Patient Hospital Readmission Category'].head()

0    As Expected
1    As Expected
2    As Expected
3    As Expected
4    As Expected
Name: Patient Hospital Readmission Category, dtype: object

In [349]:
df['Patient Hospital Readmission Category'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624      As Expected
7625      As Expected
Name: Patient Hospital Readmission Category, dtype: object

In [350]:
df['Patient Hospital Readmission Category'].count()

7626

In [351]:
df['Patient Hospital Readmission Category'].value_counts()

As Expected             6485
Not Available            820
Worse than Expected      209
Better than Expected     112
Name: Patient Hospital Readmission Category, dtype: int64

In [352]:
set([(len(str(num))) for num in df['Patient Hospital Readmission Category']])

{11, 13, 19, 20}

### Patient Hospital Readmission data availability Code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: 1, 199, 255, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient readmission data available or the reason for why the data is not available.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 255 : Medicare determined that the percentage reported was not accurate.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [353]:
df['Patient Hospital Readmission data availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Patient Hospital Readmission data availability Code, dtype: int64

In [354]:
df['Patient Hospital Readmission data availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Patient Hospital Readmission data availability Code, dtype: int64

In [355]:
df['Patient Hospital Readmission data availability Code'].count()

7626

In [356]:
df['Patient Hospital Readmission data availability Code'].value_counts()

1      6806
258     568
199     250
255       2
Name: Patient Hospital Readmission data availability Code, dtype: int64

### Patient Survival Category Text
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Worse than Expected, Better than Expected, Not Available

Length of values: 11, 13, 19, 20

Description: Patient survival category (Better, Worse or As Expected).

Value description:
- As Expected          : Patient transfusions categorized as “As Expected”       
- Worse than Expected  :  Patient transfusions categorized as “Worse than Expected”
- Better than Expected : Patient transfusions categorized as “Better than Expected"
- Not Available

In [357]:
df['Patient Survival Category Text'].head()

0    As Expected
1    As Expected
2    As Expected
3    As Expected
4    As Expected
Name: Patient Survival Category Text, dtype: object

In [358]:
df['Patient Survival Category Text'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624      As Expected
7625      As Expected
Name: Patient Survival Category Text, dtype: object

In [359]:
df['Patient Survival Category Text'].count()

7626

In [360]:
df['Patient Survival Category Text'].value_counts()

As Expected             5673
Not Available            925
Better than Expected     525
Worse than Expected      503
Name: Patient Survival Category Text, dtype: int64

In [361]:
set([(len(str(num))) for num in df['Patient Hospital Readmission Category']])

{11, 13, 19, 20}

### Patient Survival data availability code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 255, 258

Length of values: 1, 3 

Description: Lists whether the facility had sufficient patient survival data available or the reason for why the data is not available.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 255 : Medicare determined that the percentage reported was not accurate.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [362]:
df['Patient Survival data availability code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Patient Survival data availability code, dtype: int64

In [363]:
df['Patient Survival data availability code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Patient Survival data availability code, dtype: int64

In [364]:
df['Patient Survival data availability code'].count()

7626

In [365]:
df['Patient Survival data availability code'].value_counts()

1      6701
258     672
199     244
201       6
255       3
Name: Patient Survival data availability code, dtype: int64

### Number of patients included in hospitalization summary
Data type: object

Value count: 7626

Number of unique values: 250

Percent unique values: 0.485%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility’s hospitalization summary.

In [366]:
df['Number of patients included in hospitalization summary'].head()

0     74
1    166
2     31
3     31
4     38
Name: Number of patients included in hospitalization summary, dtype: object

In [367]:
df['Number of patients included in hospitalization summary'].tail()

7621               64
7622               62
7623    Not Available
7624               55
7625              101
Name: Number of patients included in hospitalization summary, dtype: object

In [368]:
df['Number of patients included in hospitalization summary'].describe()

count     7626
unique     250
top          0
freq       292
Name: Number of patients included in hospitalization summary, dtype: object

In [369]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients included in hospitalization summary'].value_counts()]).value_counts()

False    213
True      37
dtype: int64

In [370]:
df['Number of patients included in hospitalization summary'].min()

'0'

In [371]:
df['Number of patients included in hospitalization summary'].max()

'Not Available'

In [372]:
set([(len(str(num))) for num in df['Number of patients included in hospitalization summary']])

{1, 2, 3, 13}

### Number of hospitalizations included in hospital readmission summary
Data type: object

Value count: 7626

Number of unique values: 296

Percent unique values: 0.564%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of index discharges included in the facility’s readmission summary.

In [373]:
df['Number of hospitalizations included in hospital readmission summary'].head()

0    100
1    165
2     37
3     42
4     40
Name: Number of hospitalizations included in hospital readmission summary, dtype: object

In [374]:
df['Number of hospitalizations included in hospital readmission summary'].tail()

7621              121
7622              110
7623    Not Available
7624               59
7625              123
Name: Number of hospitalizations included in hospital readmission summary, dtype: object

In [375]:
df['Number of hospitalizations included in hospital readmission summary'].describe()

count     7626
unique     296
top          0
freq       316
Name: Number of hospitalizations included in hospital readmission summary, dtype: object

In [376]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of hospitalizations included in hospital readmission summary'].value_counts()]).value_counts()

False    253
True      43
dtype: int64

In [377]:
df['Number of hospitalizations included in hospital readmission summary'].min()

'0'

In [378]:
df['Number of hospitalizations included in hospital readmission summary'].max()

'Not Available'

In [379]:
set([(len(str(num))) for num in df['Number of hospitalizations included in hospital readmission summary']])

{1, 2, 3, 13}

### Number of patients included in survival summary
Data type: object

Value count: 7626

Number of unique values: 808

Percent unique values: 1.95%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the number of patients included in the facility’s survival summary.

In [380]:
df['Number of patients included in survival summary'].head()

0    190
1    797
2     76
3     86
4     39
Name: Number of patients included in survival summary, dtype: object

In [381]:
df['Number of patients included in survival summary'].tail()

7621              243
7622              223
7623    Not Available
7624              222
7625              448
Name: Number of patients included in survival summary, dtype: object

In [382]:
df['Number of patients included in survival summary'].describe()

count     7626
unique     808
top          0
freq       289
Name: Number of patients included in survival summary, dtype: object

In [383]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients included in survival summary'].value_counts()]).value_counts()

False    659
True     149
dtype: int64

In [384]:
df['Number of patients included in survival summary'].min()

'0'

In [385]:
df['Number of patients included in survival summary'].max()

'Not Available'

In [386]:
set([(len(str(num))) for num in df['Number of patients included in survival summary']])

{1, 2, 3, 4, 13}

### Mortality Rate (Facility)
Data type: object

Value count: 7626

Number of unique values: 391

Percent unique values: 1.01%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the facility’s mortality rate per 100 patient-years.

In [387]:
df['Mortality Rate (Facility)'].head()

0    34.4
1    25.3
2    15.1
3    16.3
4     4.8
Name: Mortality Rate (Facility), dtype: object

In [388]:
df['Mortality Rate (Facility)'].tail()

7621             29.4
7622             16.1
7623    Not Available
7624             18.4
7625             23.5
Name: Mortality Rate (Facility), dtype: object

In [389]:
df['Mortality Rate (Facility)'].describe()

count              7626
unique              391
top       Not Available
freq                925
Name: Mortality Rate (Facility), dtype: object

In [390]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Mortality Rate (Facility)'].value_counts()]).value_counts()

False    314
True      77
dtype: int64

In [391]:
df['Mortality Rate (Facility)'].min()

'0'

In [392]:
df['Mortality Rate (Facility)'].max()

'Not Available'

In [393]:
set([(len(str(num))) for num in df['Mortality Rate (Facility)']])

{1, 2, 3, 4, 13}

### Mortality Rate: Upper Confidence Limit (97.5%)
Data type: object

Value count: 7626

Number of unique values: 546

Percent unique values: 1.51%

Ranges of values: 10.3 -

Length of values: 2 - 5, 13

Description: Lists the upper confident limit (97.5%) for mortality rate per 100 patient-years.

In [394]:
df['Mortality Rate: Upper Confidence Limit (97.5%)'].head()

0    51.3
1    30.7
2    26.3
3    27.9
4    26.6
Name: Mortality Rate: Upper Confidence Limit (97.5%), dtype: object

In [395]:
df['Mortality Rate: Upper Confidence Limit (97.5%)'].tail()

7621             38.5
7622             24.9
7623    Not Available
7624               27
7625             29.6
Name: Mortality Rate: Upper Confidence Limit (97.5%), dtype: object

In [396]:
df['Mortality Rate: Upper Confidence Limit (97.5%)'].describe()

count              7626
unique              546
top       Not Available
freq                925
Name: Mortality Rate: Upper Confidence Limit (97.5%), dtype: object

In [397]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Mortality Rate: Upper Confidence Limit (97.5%)'].value_counts()]).value_counts()

False    431
True     115
dtype: int64

In [398]:
df['Mortality Rate: Upper Confidence Limit (97.5%)'].min()

'10.3'

In [399]:
df['Mortality Rate: Upper Confidence Limit (97.5%)'].max()

'Not Available'

In [400]:
set([(len(str(num))) for num in df['Mortality Rate: Upper Confidence Limit (97.5%)']])

{2, 3, 4, 5, 13}

### Mortality Rate: Lower Confidence Limit (2.5%)
Data type: object

Value count: 7626

Number of unique values: 324

Percent unique values: 0.564%

Ranges of values: 0.1 - 

Length of values: 1 - 4, 13

Description: Lists the lower confident limit (2.5%) for mortality rate per 100 patient-years.

In [401]:
df['Mortality Rate: Lower Confidence Limit (2.5%)'].head()

0    22.1
1    20.6
2     7.8
3     8.7
4      .1
Name: Mortality Rate: Lower Confidence Limit (2.5%), dtype: object

In [402]:
df['Mortality Rate: Lower Confidence Limit (2.5%)'].tail()

7621             21.9
7622              9.9
7623    Not Available
7624               12
7625             18.4
Name: Mortality Rate: Lower Confidence Limit (2.5%), dtype: object

In [403]:
df['Mortality Rate: Lower Confidence Limit (2.5%)'].describe()

count              7626
unique              324
top       Not Available
freq                925
Name: Mortality Rate: Lower Confidence Limit (2.5%), dtype: object

In [404]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Mortality Rate: Lower Confidence Limit (2.5%)'].value_counts()]).value_counts()

False    281
True      43
dtype: int64

In [405]:
df['Mortality Rate: Lower Confidence Limit (2.5%)'].min()

'.1'

In [406]:
df['Mortality Rate: Lower Confidence Limit (2.5%)'].max()

'Not Available'

In [407]:
set([(len(str(num))) for num in df['Mortality Rate: Lower Confidence Limit (2.5%)']])

{1, 2, 3, 4, 13}

### Readmission Rate (Facility)
Data type: object

Value count: 7626

Number of unique values: 464

Percent unique values: 0.944%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the facility’s readmission rate as a percentage of hospital discharges.

In [408]:
df['Readmission Rate (Facility)'].head()

0    30.6
1    30.5
2    19.8
3    32.3
4    27.6
Name: Readmission Rate (Facility), dtype: object

In [409]:
df['Readmission Rate (Facility)'].tail()

7621             28.2
7622               34
7623    Not Available
7624             28.3
7625             19.7
Name: Readmission Rate (Facility), dtype: object

In [410]:
df['Readmission Rate (Facility)'].describe()

count              7626
unique              464
top       Not Available
freq                820
Name: Readmission Rate (Facility), dtype: object

In [411]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Readmission Rate (Facility)'].value_counts()]).value_counts()

False    392
True      72
dtype: int64

In [412]:
df['Readmission Rate (Facility)'].min()

'0'

In [413]:
df['Readmission Rate (Facility)'].max()

'Not Available'

In [414]:
set([(len(str(num))) for num in df['Readmission Rate (Facility)']])

{1, 2, 3, 4, 13}

### Readmission Rate: Upper Confidence Limit (97.5%)
Data type: object

Value count: 7626

Number of unique values: 544

Percent unique values: 1.19%

Ranges of values: 104.2

Length of values: 2 - 5, 13

Description: Lists the upper confident limit (97.5%) for readmission rate as a percentage of hospital discharges.

In [415]:
df['Readmission Rate: Upper Confidence Limit (97.5%)'].head()

0    43.7
1    41.7
2    37.4
3    49.1
4      45
Name: Readmission Rate: Upper Confidence Limit (97.5%), dtype: object

In [416]:
df['Readmission Rate: Upper Confidence Limit (97.5%)'].tail()

7621             38.9
7622             45.2
7623    Not Available
7624             43.8
7625             29.7
Name: Readmission Rate: Upper Confidence Limit (97.5%), dtype: object

In [417]:
df['Readmission Rate: Upper Confidence Limit (97.5%)'].describe()

count              7626
unique              544
top       Not Available
freq                820
Name: Readmission Rate: Upper Confidence Limit (97.5%), dtype: object

In [418]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Readmission Rate: Upper Confidence Limit (97.5%)'].value_counts()]).value_counts()

False    453
True      91
dtype: int64

In [419]:
df['Readmission Rate: Upper Confidence Limit (97.5%)'].min()

'104.2'

In [420]:
df['Readmission Rate: Upper Confidence Limit (97.5%)'].max()

'Not Available'

In [421]:
set([(len(str(num))) for num in df['Readmission Rate: Upper Confidence Limit (97.5%)']])

{2, 3, 4, 5, 13}

### Readmission Rate: Lower Confidence Limit (2.5%)
Data type: object

Value count: 7626

Number of unique values: 339

Percent unique values: 0.315%

Ranges of values: 0.1 - 

Length of values: 1 - 4, 13

Description: Lists the lower confident limit (2.5%) for readmission rate as a percentage of hospital discharges.

In [422]:
df['Readmission Rate: Lower Confidence Limit (2.5%)'].head()

0    19.4
1    20.4
2     7.6
3    18.6
4    13.7
Name: Readmission Rate: Lower Confidence Limit (2.5%), dtype: object

In [423]:
df['Readmission Rate: Lower Confidence Limit (2.5%)'].tail()

7621             18.6
7622             23.9
7623    Not Available
7624             15.8
7625             11.8
Name: Readmission Rate: Lower Confidence Limit (2.5%), dtype: object

In [424]:
df['Readmission Rate: Lower Confidence Limit (2.5%)'].describe()

count              7626
unique              339
top       Not Available
freq                820
Name: Readmission Rate: Lower Confidence Limit (2.5%), dtype: object

In [425]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Readmission Rate: Lower Confidence Limit (2.5%)'].value_counts()]).value_counts()

False    315
True      24
dtype: int64

In [426]:
df['Readmission Rate: Lower Confidence Limit (2.5%)'].min()

'.1'

In [427]:
df['Readmission Rate: Lower Confidence Limit (2.5%)'].max()

'Not Available'

In [428]:
set([(len(str(num))) for num in df['Readmission Rate: Lower Confidence Limit (2.5%)']])

{1, 2, 3, 4, 13}

### Hospitalization Rate (Facility)
Data type: object

Value count: 7626

Number of unique values: 2005

Percent unique values: 7.50%

Ranges of values: 0 - 

Length of values: 1 - 5, 13

Description: Lists the facility’s hospitalization rate per 100 patient-years.

In [429]:
df['Hospitalization Rate (Facility)'].head()

0    228.3
1    222.9
2    158.3
3    186.1
4    150.8
Name: Hospitalization Rate (Facility), dtype: object

In [430]:
df['Hospitalization Rate (Facility)'].tail()

7621            278.3
7622            246.5
7623    Not Available
7624            198.7
7625            187.2
Name: Hospitalization Rate (Facility), dtype: object

In [431]:
df['Hospitalization Rate (Facility)'].describe()

count              7626
unique             2005
top       Not Available
freq                769
Name: Hospitalization Rate (Facility), dtype: object

In [432]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Hospitalization Rate (Facility)'].value_counts()]).value_counts()

False    1433
True      572
dtype: int64

In [433]:
df['Hospitalization Rate (Facility)'].min()

'0'

In [434]:
df['Hospitalization Rate (Facility)'].max()

'Not Available'

In [435]:
set([(len(str(num))) for num in df['Hospitalization Rate (Facility)']])

{1, 2, 3, 4, 5, 13}

### Hospitalization Rate: Upper Confidence Limit (97.5%)
Data type: object

Value count: 7626

Number of unique values: 2584

Percent unique values: 12.7%

Ranges of values: 1079.9 - 

Length of values: 3, 5, 6, 13

Description: Lists the upper confident limit (97.5%) for hospitalization rate per 100 patient-years.

In [436]:
df['Hospitalization Rate: Upper Confidence Limit (97.5%)'].head()

0    346.5
1      323
2    280.6
3    321.1
4      278
Name: Hospitalization Rate: Upper Confidence Limit (97.5%), dtype: object

In [437]:
df['Hospitalization Rate: Upper Confidence Limit (97.5%)'].tail()

7621            397.9
7622            361.7
7623    Not Available
7624            319.8
7625            290.1
Name: Hospitalization Rate: Upper Confidence Limit (97.5%), dtype: object

In [438]:
df['Hospitalization Rate: Upper Confidence Limit (97.5%)'].describe()

count              7626
unique             2584
top       Not Available
freq                770
Name: Hospitalization Rate: Upper Confidence Limit (97.5%), dtype: object

In [439]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Hospitalization Rate: Upper Confidence Limit (97.5%)'].value_counts()]).value_counts()

False    1618
True      966
dtype: int64

In [440]:
df['Hospitalization Rate: Upper Confidence Limit (97.5%)'].min()

'1079.9'

In [441]:
df['Hospitalization Rate: Upper Confidence Limit (97.5%)'].max()

'Not Available'

In [442]:
set([(len(str(num))) for num in df['Hospitalization Rate: Upper Confidence Limit (97.5%)']])

{3, 5, 6, 13}

### Hospitalization Rate: Lower Confidence Limit (2.5%)
Data type: object

Value count: 7626

Number of unique values: 1711

Percent unique values: 5.72%

Ranges of values: 0 -

Length of values: 1 - 5, 13

Description: Lists the lower confident limit (2.5%) for hospitalization rate per 100 patient-years.

In [443]:
df['Hospitalization Rate: Lower Confidence Limit (2.5%)'].head()

0    153.6
1    161.7
2     93.7
3    112.8
4       86
Name: Hospitalization Rate: Lower Confidence Limit (2.5%), dtype: object

In [444]:
df['Hospitalization Rate: Lower Confidence Limit (2.5%)'].tail()

7621            198.9
7622            171.3
7623    Not Available
7624            127.1
7625            128.1
Name: Hospitalization Rate: Lower Confidence Limit (2.5%), dtype: object

In [445]:
df['Hospitalization Rate: Lower Confidence Limit (2.5%)'].describe()

count              7626
unique             1711
top       Not Available
freq                769
Name: Hospitalization Rate: Lower Confidence Limit (2.5%), dtype: object

In [446]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Hospitalization Rate: Lower Confidence Limit (2.5%)'].value_counts()]).value_counts()

False    1275
True      436
dtype: int64

In [447]:
df['Hospitalization Rate: Lower Confidence Limit (2.5%)'].min()

'0'

In [448]:
df['Hospitalization Rate: Lower Confidence Limit (2.5%)'].max()

'Not Available'

In [449]:
set([(len(str(num))) for num in df['Hospitalization Rate: Lower Confidence Limit (2.5%)']])

{1, 2, 3, 4, 5, 13}

### Number of pediatric PD patients with Kt/V data
Data type: object

Value count: 7626

Number of unique values: 26

Percent unique values: 0.0918%

Ranges of values: 0 - 

Length of values: 1, 2, 13

Description: Lists the number of pediatric PD patients included in Kt/V greater than or equal to 1.8 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [450]:
df['Number of pediatric PD patients with Kt/V data'].head()

0    0
1    0
2    0
3    0
4    0
Name: Number of pediatric PD patients with Kt/V data, dtype: object

In [451]:
df['Number of pediatric PD patients with Kt/V data'].tail()

7621                0
7622                0
7623    Not Available
7624                0
7625                0
Name: Number of pediatric PD patients with Kt/V data, dtype: object

In [452]:
df['Number of pediatric PD patients with Kt/V data'].describe()

count     7626
unique      26
top          0
freq      7405
Name: Number of pediatric PD patients with Kt/V data, dtype: object

In [453]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of pediatric PD patients with Kt/V data'].value_counts()]).value_counts()

False    19
True      7
dtype: int64

In [454]:
df['Number of pediatric PD patients with Kt/V data'].min()

'0'

In [455]:
df['Number of pediatric PD patients with Kt/V data'].max()

'Not Available'

In [456]:
set([(len(str(num))) for num in df['Number of pediatric PD patients with Kt/V data']])

{1, 2, 13}

### Pediatric PD Kt/V Data Availability Code
Data type: int64 

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258, 259

Length of values: 1, 3

Description: Lists whether the facility had sufficient pediatric PD Kt/V data available or the reason for why the data is not available. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 258 : The dialysis center was not open long enough to supply sufficient measure data. 
- 259 : The dialysis center does not provide hemodialysis and/or peritoneal dialysis to pediatric patients during the reporting period.

In [457]:
df['Pediatric PD Kt/V Data Availability Code'].head()

0    259
1    259
2    259
3    259
4    259
Name: Pediatric PD Kt/V Data Availability Code, dtype: int64

In [458]:
df['Pediatric PD Kt/V Data Availability Code'].tail()

7621    259
7622    259
7623    258
7624    259
7625    259
Name: Pediatric PD Kt/V Data Availability Code, dtype: int64

In [459]:
df['Pediatric PD Kt/V Data Availability Code'].count()

7626

In [460]:
df['Pediatric PD Kt/V Data Availability Code'].value_counts()

259    7244
201     161
199     120
258      72
1        29
Name: Pediatric PD Kt/V Data Availability Code, dtype: int64

### Number of pediatric PD patient-months with KT/V data
Data type: object

Value count: 7626

Number of unique values: 82

Percent unique values: 0.433%

Ranges of values: 1 - 

Length of values: 1 - 3, 13

Description: Lists the number of pediatric PD patient months included in Kt/V greater than or equal to 1.8 summary. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [461]:
df['Number of pediatric PD patient-months with KT/V data'].head()

0    Not Available
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Number of pediatric PD patient-months with KT/V data, dtype: object

In [462]:
df['Number of pediatric PD patient-months with KT/V data'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Number of pediatric PD patient-months with KT/V data, dtype: object

In [463]:
df['Number of pediatric PD patient-months with KT/V data'].describe()

count              7626
unique               82
top       Not Available
freq               7476
Name: Number of pediatric PD patient-months with KT/V data, dtype: object

In [464]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of pediatric PD patient-months with KT/V data'].value_counts()]).value_counts()

True     49
False    33
dtype: int64

In [465]:
df['Number of pediatric PD patient-months with KT/V data'].min()

'1'

In [466]:
df['Number of pediatric PD patient-months with KT/V data'].max()

'Not Available'

In [467]:
set([(len(str(num))) for num in df['Number of pediatric PD patient-months with KT/V data']])

{1, 2, 3, 13}

### Percentage of pediatric PD patients with Kt/V>=1.8
Data type: object

Value count: 7626

Number of unique values: 22

Percent unique values: 0.105%

Ranges of values: 23 - 

Length of values: 2, 13

Description: Lists the percentage of pediatric PD patients with Kt/V greater than or equal to 1.8. The parameter Kt/V is a measurement of the efficacy of a hemodialysis session. It identifies the effective removal of a specific solute (clearance K) resulting from a given treatment (characterized by time t) in a given patient (with a specific volume of distribution V for the solute considered).

In [468]:
df['Percentage of pediatric PD patients with Kt/V>=1.8'].head()

0    Not Available
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Percentage of pediatric PD patients with Kt/V>=1.8, dtype: object

In [469]:
df['Percentage of pediatric PD patients with Kt/V>=1.8'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Percentage of pediatric PD patients with Kt/V>=1.8, dtype: object

In [470]:
df['Percentage of pediatric PD patients with Kt/V>=1.8'].describe()

count              7626
unique               22
top       Not Available
freq               7597
Name: Percentage of pediatric PD patients with Kt/V>=1.8, dtype: object

In [471]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of pediatric PD patients with Kt/V>=1.8'].value_counts()]).value_counts()

True     14
False     8
dtype: int64

In [472]:
df['Percentage of pediatric PD patients with Kt/V>=1.8'].min()

'23'

In [473]:
df['Percentage of pediatric PD patients with Kt/V>=1.8'].max()

'Not Available'

In [474]:
set([(len(str(num))) for num in df['Percentage of pediatric PD patients with Kt/V>=1.8']])

{2, 13}

### SIR Date
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0%

Ranges of values: "01/01/2018 - 12/31/2018"

Length of values: 23

Description: Lists the time period for patient infection summary (SIR).

In [475]:
df['SIR Date'].head()

0    01/01/2018 - 12/31/2018
1    01/01/2018 - 12/31/2018
2    01/01/2018 - 12/31/2018
3    01/01/2018 - 12/31/2018
4    01/01/2018 - 12/31/2018
Name: SIR Date, dtype: object

In [476]:
df['SIR Date'].tail()

7621    01/01/2018 - 12/31/2018
7622    01/01/2018 - 12/31/2018
7623    01/01/2018 - 12/31/2018
7624    01/01/2018 - 12/31/2018
7625    01/01/2018 - 12/31/2018
Name: SIR Date, dtype: object

In [477]:
df['SIR Date'].count()

7626

In [478]:
df['SIR Date'].value_counts()

01/01/2018 - 12/31/2018    7626
Name: SIR Date, dtype: int64

In [479]:
set([(len(str(num))) for num in df['SIR Date']])

{23}

### Patient Infection Data Availability Code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient infection data available or the reason for why the data is not available.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [480]:
df['Patient Infection Data Availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Patient Infection Data Availability Code, dtype: int64

In [481]:
df['Patient Infection Data Availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Patient Infection Data Availability Code, dtype: int64

In [482]:
df['Patient Infection Data Availability Code'].count()

7626

In [483]:
df['Patient Infection Data Availability Code'].value_counts()

1      6251
258     657
201     609
199     109
Name: Patient Infection Data Availability Code, dtype: int64

### Patient Infection category text
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Worse than Expected, Better than Expected, Not Available

Length of values: 11, 13, 19, 20

Description: Patient infection category.

Value description:
- As Expected          : Patient infection categorized as “As Expected”       
- Worse than Expected  :  Patient infection categorized as “Worse than Expected”
- Better than Expected : Patient infection categorized as “Better than Expected"
- Not Available

In [484]:
df['Patient Infection category text'].head()

0    As Expected
1    As Expected
2    As Expected
3    As Expected
4    As Expected
Name: Patient Infection category text, dtype: object

In [485]:
df['Patient Infection category text'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624      As Expected
7625      As Expected
Name: Patient Infection category text, dtype: object

In [486]:
df['Patient Infection category text'].count()

7626

In [487]:
df['Patient Infection category text'].value_counts()

As Expected             5055
Not Available           1375
Better than Expected     988
Worse than Expected      208
Name: Patient Infection category text, dtype: int64

In [488]:
set([(len(str(num))) for num in df['Patient Infection category text']])

{11, 13, 19, 20}

### Standard Infection Ratio
Data type: object

Value count: 7626

Number of unique values: 337

Percent unique values: 0.957%

Ranges of values: 0.5 - 

Length of values: 1 - 5, 13

Description: Lists the facility’s Standardized Infection Ratio.

In [489]:
df['Standard Infection Ratio'].head()

0    1.61
1     .75
2    1.54
3    1.45
4       0
Name: Standard Infection Ratio, dtype: object

In [490]:
df['Standard Infection Ratio'].tail()

7621             1.23
7622                1
7623    Not Available
7624              .94
7625              .58
Name: Standard Infection Ratio, dtype: object

In [491]:
df['Standard Infection Ratio'].describe()

count              7626
unique              337
top       Not Available
freq               1375
Name: Standard Infection Ratio, dtype: object

In [492]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Standard Infection Ratio'].value_counts()]).value_counts()

False    264
True      73
dtype: int64

In [493]:
df['Standard Infection Ratio'].min()

'.05'

In [494]:
df['Standard Infection Ratio'].max()

'Not Available'

In [495]:
set([(len(str(num))) for num in df['Standard Infection Ratio']])

{1, 2, 3, 4, 5, 13}

### SIR: Upper Confidence Limit (97.5%)
Data type: object

Value count: 7626

Number of unique values: 603

Percent unique values: 1.63%

Ranges of values: 0.16 - 

Length of values: 1 - 5, 13

Description: Lists the upper confident limit (97.5%) for Standardized Infection Ratio (SIR).

In [496]:
df['SIR: Upper Confidence Limit (97.5%)'].head()

0     2.8
1    1.28
2     4.2
3    3.94
4     1.2
Name: SIR: Upper Confidence Limit (97.5%), dtype: object

In [497]:
df['SIR: Upper Confidence Limit (97.5%)'].tail()

7621             2.56
7622             2.21
7623    Not Available
7624             2.56
7625             1.39
Name: SIR: Upper Confidence Limit (97.5%), dtype: object

In [498]:
df['SIR: Upper Confidence Limit (97.5%)'].describe()

count              7626
unique              603
top       Not Available
freq               1375
Name: SIR: Upper Confidence Limit (97.5%), dtype: object

In [499]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['SIR: Upper Confidence Limit (97.5%)'].value_counts()]).value_counts()

False    479
True     124
dtype: int64

In [500]:
df['SIR: Upper Confidence Limit (97.5%)'].min()

'.16'

In [501]:
df['SIR: Upper Confidence Limit (97.5%)'].max()

'Not Available'

In [502]:
set([(len(str(num))) for num in df['SIR: Upper Confidence Limit (97.5%)']])

{1, 2, 3, 4, 5, 13}

### SIR: Lower Confidence Limit (2.5%)
Data type: object

Value count: 7626

Number of unique values: 191

Percent unique values: 0.485%

Ranges of values: 0.01 - 

Length of values: 1 - 4, 13

Description: Lists the lower confident limit (2.5%) for Standardized Infection Ratio (SIR).

In [503]:
df['SIR: Lower Confidence Limit (2.5%)'].head()

0              .85
1              .41
2              .39
3              .37
4    Not Available
Name: SIR: Lower Confidence Limit (2.5%), dtype: object

In [504]:
df['SIR: Lower Confidence Limit (2.5%)'].tail()

7621               .5
7622              .37
7623    Not Available
7624              .24
7625              .18
Name: SIR: Lower Confidence Limit (2.5%), dtype: object

In [505]:
df['SIR: Lower Confidence Limit (2.5%)'].describe()

count              7626
unique              191
top       Not Available
freq               2258
Name: SIR: Lower Confidence Limit (2.5%), dtype: object

In [506]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['SIR: Lower Confidence Limit (2.5%)'].value_counts()]).value_counts()

False    154
True      37
dtype: int64

In [507]:
df['SIR: Lower Confidence Limit (2.5%)'].min()

'.01'

In [508]:
df['SIR: Lower Confidence Limit (2.5%)'].max()

'Not Available'

In [509]:
set([(len(str(num))) for num in df['SIR: Lower Confidence Limit (2.5%)']])

{1, 2, 3, 4, 13}

### Transfusion Rate (Facility)
Data type: object

Value count: 7626

Number of unique values: 718

Percent unique values: 2.31%

Ranges of values: 0 - 

Length of values: 1 - 5, 13

Description: Lists the facility’s transfusion rate per 100 patient-years.

In [510]:
df['Transfusion Rate (Facility)'].head()

0    32.2
1    42.2
2    31.9
3      17
4    12.8
Name: Transfusion Rate (Facility), dtype: object

In [511]:
df['Transfusion Rate (Facility)'].tail()

7621             43.9
7622             27.1
7623    Not Available
7624               10
7625             11.6
Name: Transfusion Rate (Facility), dtype: object

In [512]:
df['Transfusion Rate (Facility)'].describe()

count              7626
unique              718
top       Not Available
freq               1341
Name: Transfusion Rate (Facility), dtype: object

In [513]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Transfusion Rate (Facility)'].value_counts()]).value_counts()

False    542
True     176
dtype: int64

In [514]:
df['Transfusion Rate (Facility)'].min()

'0'

In [515]:
df['Transfusion Rate (Facility)'].max()

'Not Available'

In [516]:
set([(len(str(num))) for num in df['Transfusion Rate (Facility)']])

{1, 2, 3, 4, 5, 13}

### Transfusion Rate: Upper Confidence Limit (97.5%)
Data type: object

Value count: 7626

Number of unique values: 1605

Percent unique values: 4.51% 

Ranges of values: 100 - 

Length of values: 2 - 5, 13

Description: Lists the upper confident limit (97.5%) for transfusion rate per 100 patient-years.

In [517]:
df['Transfusion Rate: Upper Confidence Limit (97.5%)'].head()

0       93
1     81.5
2    142.7
3    211.5
4    170.8
Name: Transfusion Rate: Upper Confidence Limit (97.5%), dtype: object

In [518]:
df['Transfusion Rate: Upper Confidence Limit (97.5%)'].tail()

7621            121.6
7622               92
7623    Not Available
7624               83
7625             51.9
Name: Transfusion Rate: Upper Confidence Limit (97.5%), dtype: object

In [519]:
df['Transfusion Rate: Upper Confidence Limit (97.5%)'].describe()

count              7626
unique             1605
top       Not Available
freq               1341
Name: Transfusion Rate: Upper Confidence Limit (97.5%), dtype: object

In [520]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Transfusion Rate: Upper Confidence Limit (97.5%)'].value_counts()]).value_counts()

False    1261
True      344
dtype: int64

In [521]:
df['Transfusion Rate: Upper Confidence Limit (97.5%)'].min()

'100'

In [522]:
df['Transfusion Rate: Upper Confidence Limit (97.5%)'].max()

'Not Available'

In [523]:
set([(len(str(num))) for num in df['Transfusion Rate: Upper Confidence Limit (97.5%)']])

{2, 3, 4, 5, 13}

### Transfusion Rate: Lower Confidence Limit (2.5%)
Data type: object

Value count: 7626

Number of unique values: 414

Percent unique values: 1.18%

Ranges of values: 0.1 - 

Length of values: 1 - 5, 13

Description: Lists the lower confident limit (2.5%) for transfusion rate per 100 patient-years.

In [524]:
df['Transfusion Rate: Lower Confidence Limit (2.5%)'].head()

0    13.1
1    24.1
2     8.9
3     1.9
4     1.4
Name: Transfusion Rate: Lower Confidence Limit (2.5%), dtype: object

In [525]:
df['Transfusion Rate: Lower Confidence Limit (2.5%)'].tail()

7621             18.5
7622              9.6
7623    Not Available
7624              1.7
7625              3.3
Name: Transfusion Rate: Lower Confidence Limit (2.5%), dtype: object

In [526]:
df['Transfusion Rate: Lower Confidence Limit (2.5%)'].describe()

count              7626
unique              414
top       Not Available
freq               1341
Name: Transfusion Rate: Lower Confidence Limit (2.5%), dtype: object

In [527]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Transfusion Rate: Lower Confidence Limit (2.5%)'].value_counts()]).value_counts()

False    324
True      90
dtype: int64

In [528]:
df['Transfusion Rate: Lower Confidence Limit (2.5%)'].min()

'.1'

In [529]:
df['Transfusion Rate: Lower Confidence Limit (2.5%)'].max()

'Not Available'

In [530]:
set([(len(str(num))) for num in df['Transfusion Rate: Lower Confidence Limit (2.5%)']])

{1, 2, 3, 4, 5, 13}

### Fistula data availability code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 256, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient fistula data available or the reason for why the data is not available. The best type of long-term access is an AV fistula. A surgeon connects an artery to a vein, usually in your arm, to create an AV fistula. An artery is a blood vessel that carries blood away from your heart. A vein is a blood vessel that carries blood back toward your heart. When the surgeon connects an artery to a vein, the vein grows wider and thicker, making it easier to place the needles for dialysis. The AV fistula also has a large diameter that allows your blood to flow out and back into your body quickly. The goal is to allow high blood flow so that the largest amount of blood can pass through the dialyzer.

Value description: 
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure.
- 256 : The dialysis center does not provide hemodialysis during the reporting period. 
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [531]:
df['Fistula data availability code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Fistula data availability code, dtype: int64

In [532]:
df['Fistula data availability code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Fistula data availability code, dtype: int64

In [533]:
df['Fistula data availability code'].count()

7626

In [534]:
df['Fistula data availability code'].value_counts()

1      6915
258     284
199     262
256     110
201      55
Name: Fistula data availability code, dtype: int64

### Fistula Category Text
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Worse than Expected, Better than Expected, Not Available

Length of values: 11, 13, 19, 20

Description: Fistula category. The best type of long-term access is an AV fistula. A surgeon connects an artery to a vein, usually in your arm, to create an AV fistula. An artery is a blood vessel that carries blood away from your heart. A vein is a blood vessel that carries blood back toward your heart. When the surgeon connects an artery to a vein, the vein grows wider and thicker, making it easier to place the needles for dialysis. The AV fistula also has a large diameter that allows your blood to flow out and back into your body quickly. The goal is to allow high blood flow so that the largest amount of blood can pass through the dialyzer.

Value description:
- As Expected          : Patient fistulas categorized as “As Expected”       
- Worse than Expected  :  Patient fistulas categorized as “Worse than Expected”
- Better than Expected : Patient fistulas categorized as “Better than Expected"
- Not Available

In [535]:
df['Fistula Category Text'].head()

0    As Expected
1    As Expected
2    As Expected
3    As Expected
4    As Expected
Name: Fistula Category Text, dtype: object

In [536]:
df['Fistula Category Text'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624      As Expected
7625      As Expected
Name: Fistula Category Text, dtype: object

In [537]:
df['Fistula Category Text'].count()

7626

In [538]:
df['Fistula Category Text'].value_counts()

As Expected             6423
Not Available            711
Better than Expected     278
Worse than Expected      214
Name: Fistula Category Text, dtype: int64

In [539]:
set([(len(str(num))) for num in df['Fistula Category Text']])

{11, 13, 19, 20}

### Number of Patients included in fistula summary
Data type: object

Value count: 7626

Number of unique values: 293

Percent unique values: 0.564%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility’s fistula summary. The best type of long-term access is an AV fistula. A surgeon connects an artery to a vein, usually in your arm, to create an AV fistula. An artery is a blood vessel that carries blood away from your heart. A vein is a blood vessel that carries blood back toward your heart. When the surgeon connects an artery to a vein, the vein grows wider and thicker, making it easier to place the needles for dialysis. The AV fistula also has a large diameter that allows your blood to flow out and back into your body quickly. The goal is to allow high blood flow so that the largest amount of blood can pass through the dialyzer.

In [540]:
df['Number of Patients included in fistula summary'].head()

0     91
1    229
2     38
3     29
4     51
Name: Number of Patients included in fistula summary, dtype: object

In [541]:
df['Number of Patients included in fistula summary'].tail()

7621              105
7622               99
7623    Not Available
7624               61
7625              124
Name: Number of Patients included in fistula summary, dtype: object

In [542]:
df['Number of Patients included in fistula summary'].describe()

count     7626
unique     293
top          0
freq       257
Name: Number of Patients included in fistula summary, dtype: object

In [543]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of Patients included in fistula summary'].value_counts()]).value_counts()

False    250
True      43
dtype: int64

In [544]:
df['Number of Patients included in fistula summary'].min()

'0'

In [545]:
df['Number of Patients included in fistula summary'].max()

'Not Available'

In [546]:
set([(len(str(num))) for num in df['Number of Patients included in fistula summary']])

{1, 2, 3, 13}

### Fistula Rate (Facility)
Data type: object

Value count: 7626

Number of unique values: 588

Percent unique values: 1.17%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the facility’s fistula rate per 100 patient-years. The best type of long-term access is an AV fistula. A surgeon connects an artery to a vein, usually in your arm, to create an AV fistula. An artery is a blood vessel that carries blood away from your heart. A vein is a blood vessel that carries blood back toward your heart. When the surgeon connects an artery to a vein, the vein grows wider and thicker, making it easier to place the needles for dialysis. The AV fistula also has a large diameter that allows your blood to flow out and back into your body quickly. The goal is to allow high blood flow so that the largest amount of blood can pass through the dialyzer.

In [547]:
df['Fistula Rate (Facility)'].head()

0    52.9
1    68.2
2    59.3
3    57.2
4    57.1
Name: Fistula Rate (Facility), dtype: object

In [548]:
df['Fistula Rate (Facility)'].tail()

7621             72.8
7622             57.5
7623    Not Available
7624             49.5
7625             61.5
Name: Fistula Rate (Facility), dtype: object

In [549]:
df['Fistula Rate (Facility)'].describe()

count              7626
unique              588
top       Not Available
freq                711
Name: Fistula Rate (Facility), dtype: object

In [550]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Fistula Rate (Facility)'].value_counts()]).value_counts()

False    499
True      89
dtype: int64

In [551]:
df['Fistula Rate (Facility)'].min()

'0'

In [552]:
df['Fistula Rate (Facility)'].max()

'Not Available'

In [553]:
set([(len(str(num))) for num in df['Fistula Rate (Facility)']])

{1, 2, 3, 4, 13}

### Fistula Rate: Upper Confidence Limit (97.5%)
Data type: object

Value count: 7626

Number of unique values: 488

Percent unique values: 0.905%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the upper confident limit (97.5%) for fistula rate per 100 patient-years. The best type of long-term access is an AV fistula. A surgeon connects an artery to a vein, usually in your arm, to create an AV fistula. An artery is a blood vessel that carries blood away from your heart. A vein is a blood vessel that carries blood back toward your heart. When the surgeon connects an artery to a vein, the vein grows wider and thicker, making it easier to place the needles for dialysis. The AV fistula also has a large diameter that allows your blood to flow out and back into your body quickly. The goal is to allow high blood flow so that the largest amount of blood can pass through the dialyzer.

In [554]:
df['Fistula Rate: Upper Confidence Limit (97.5%)'].head()

0    72.7
1    78.3
2    79.6
3    90.1
4    83.5
Name: Fistula Rate: Upper Confidence Limit (97.5%), dtype: object

In [555]:
df['Fistula Rate: Upper Confidence Limit (97.5%)'].tail()

7621             89.1
7622             75.5
7623    Not Available
7624             74.8
7625             77.4
Name: Fistula Rate: Upper Confidence Limit (97.5%), dtype: object

In [556]:
df['Fistula Rate: Upper Confidence Limit (97.5%)'].describe()

count              7626
unique              488
top       Not Available
freq                711
Name: Fistula Rate: Upper Confidence Limit (97.5%), dtype: object

In [557]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Fistula Rate: Upper Confidence Limit (97.5%)'].value_counts()]).value_counts()

False    419
True      69
dtype: int64

In [558]:
df['Fistula Rate: Upper Confidence Limit (97.5%)'].min()

'0'

In [559]:
df['Fistula Rate: Upper Confidence Limit (97.5%)'].max()

'Not Available'

In [560]:
set([(len(str(num))) for num in df['Fistula Rate: Upper Confidence Limit (97.5%)']])

{1, 2, 3, 4, 13}

### Fistula Rate: Lower Confidence Limit (2.5%)
Data type: object

Value count: 7626

Number of unique values: 728

Percent unique values: 1.31%

Ranges of values: 0.1 - 

Length of values: 1 - 4, 13

Description: Lists the lower confident limit (2.5%) for fistula rate per 100 patient-years. The best type of long-term access is an AV fistula. A surgeon connects an artery to a vein, usually in your arm, to create an AV fistula. An artery is a blood vessel that carries blood away from your heart. A vein is a blood vessel that carries blood back toward your heart. When the surgeon connects an artery to a vein, the vein grows wider and thicker, making it easier to place the needles for dialysis. The AV fistula also has a large diameter that allows your blood to flow out and back into your body quickly. The goal is to allow high blood flow so that the largest amount of blood can pass through the dialyzer.

In [561]:
df['Fistula Rate: Lower Confidence Limit (2.5%)'].head()

0    31.7
1    57.3
2    37.4
3    21.8
4    28.7
Name: Fistula Rate: Lower Confidence Limit (2.5%), dtype: object

In [562]:
df['Fistula Rate: Lower Confidence Limit (2.5%)'].tail()

7621             55.4
7622             38.2
7623    Not Available
7624             22.3
7625             44.4
Name: Fistula Rate: Lower Confidence Limit (2.5%), dtype: object

In [563]:
df['Fistula Rate: Lower Confidence Limit (2.5%)'].describe()

count              7626
unique              728
top       Not Available
freq                711
Name: Fistula Rate: Lower Confidence Limit (2.5%), dtype: object

In [564]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Fistula Rate: Lower Confidence Limit (2.5%)'].value_counts()]).value_counts()

False    628
True     100
dtype: int64

In [565]:
df['Fistula Rate: Lower Confidence Limit (2.5%)'].min()

'.1'

In [566]:
df['Fistula Rate: Lower Confidence Limit (2.5%)'].max()

'Not Available'

In [567]:
set([(len(str(num))) for num in df['Fistula Rate: Lower Confidence Limit (2.5%)']])

{1, 2, 3, 4, 13}

### Number of patients in long term catheter summary
Data type: object

Value count: 7626

Number of unique values: 293

Percent unique values: 0.564%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility’s long term catheter summary.

In [568]:
df['Number of patients in long term catheter summary'].head()

0     91
1    229
2     38
3     29
4     51
Name: Number of patients in long term catheter summary, dtype: object

In [569]:
df['Number of patients in long term catheter summary'].tail()

7621              105
7622               99
7623    Not Available
7624               61
7625              124
Name: Number of patients in long term catheter summary, dtype: object

In [570]:
df['Number of patients in long term catheter summary'].describe()

count     7626
unique     293
top          0
freq       257
Name: Number of patients in long term catheter summary, dtype: object

In [571]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients in long term catheter summary'].value_counts()]).value_counts()

False    250
True      43
dtype: int64

In [572]:
df['Number of patients in long term catheter summary'].min()

'0'

In [573]:
df['Number of patients in long term catheter summary'].max()

'Not Available'

In [574]:
set([(len(str(num))) for num in df['Number of patients in long term catheter summary']])

{1, 2, 3, 13}

### Number of patient months in long term catheter summary
Data type: object

Value count: 7626

Number of unique values: 1781

Percent unique values: 5.55%

Ranges of values: 1 - 

Length of values: 1 - 4, 13

Description: Lists the number of patient-months included in the facility’s long term catheter summary.

In [575]:
df['Number of patient months in long term catheter summary'].head()

0     769
1    2110
2     335
3     267
4     409
Name: Number of patient months in long term catheter summary, dtype: object

In [576]:
df['Number of patient months in long term catheter summary'].tail()

7621              868
7622              844
7623    Not Available
7624              435
7625             1058
Name: Number of patient months in long term catheter summary, dtype: object

In [577]:
df['Number of patient months in long term catheter summary'].describe()

count              7626
unique             1781
top       Not Available
freq                328
Name: Number of patient months in long term catheter summary, dtype: object

In [578]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patient months in long term catheter summary'].value_counts()]).value_counts()

False    1358
True      423
dtype: int64

In [579]:
df['Number of patient months in long term catheter summary'].min()

'1'

In [580]:
df['Number of patient months in long term catheter summary'].max()

'Not Available'

In [581]:
set([(len(str(num))) for num in df['Number of patient months in long term catheter summary']])

{1, 2, 3, 4, 13}

### Long term catheter Data Availability Code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 256, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient long term catheter data available or the reason for why the data is not available.

In [582]:
df['Long term catheter Data Availability Code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Long term catheter Data Availability Code, dtype: int64

In [583]:
df['Long term catheter Data Availability Code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Long term catheter Data Availability Code, dtype: int64

In [584]:
df['Long term catheter Data Availability Code'].count()

7626

In [585]:
df['Long term catheter Data Availability Code'].value_counts()

1      6915
199     262
258     192
201     129
256     128
Name: Long term catheter Data Availability Code, dtype: int64

### Percentage of Adult patients with long term catheter in use
Data type: object

Value count: 7626

Number of unique values: 68

Percent unique values: 0.210%

Ranges of values: 0 - 

Length of values: 1, 2, 13

Description: Lists the percentage of adult patients with long term catheter in use.

In [586]:
df['Percentage of Adult patients with long term catheter in use'].head()

0    25
1    14
2    10
3    26
4    15
Name: Percentage of Adult patients with long term catheter in use, dtype: object

In [587]:
df['Percentage of Adult patients with long term catheter in use'].tail()

7621                5
7622               12
7623    Not Available
7624                8
7625               16
Name: Percentage of Adult patients with long term catheter in use, dtype: object

In [588]:
df['Percentage of Adult patients with long term catheter in use'].describe()

count              7626
unique               68
top       Not Available
freq                711
Name: Percentage of Adult patients with long term catheter in use, dtype: object

In [589]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Adult patients with long term catheter in use'].value_counts()]).value_counts()

False    52
True     16
dtype: int64

In [590]:
df['Percentage of Adult patients with long term catheter in use'].min()

'0'

In [591]:
df['Percentage of Adult patients with long term catheter in use'].max()

'Not Available'

In [592]:
set([(len(str(num))) for num in df['Percentage of Adult patients with long term catheter in use']])

{1, 2, 13}

### Number of patients in nPCR summary
Data type: object

Value count: 7626 

Number of unique values: 26

Percent unique values: .105%

Ranges of values: 0 - 

Length of values: 1, 2, 13

Description: 
Lists the number of patients included in the facility's normalized protein catabolic rate (nPCR) summary. The normalized protein catabolic rate (nPCR) is a formula commonly used to assess dietary protein intake in dialysis patients, as a means towards determining nutritional adequacy, a major problem in many ESRD patients. 
The nPCR is reported in grams of urea nitrogen per kilogram per day.
Most guidelines specify maintaining the protein intake above 1.0 – 1.2 g/kg/day in dialysis patients, with values less than 0.8 g/kg/day being equated with malnutrition.

In [593]:
df['Number of patients in nPCR summary'].head()

0    0
1    0
2    0
3    0
4    0
Name: Number of patients in nPCR summary, dtype: object

In [594]:
df['Number of patients in nPCR summary'].tail()

7621                0
7622                0
7623    Not Available
7624                0
7625                0
Name: Number of patients in nPCR summary, dtype: object

In [595]:
df['Number of patients in nPCR summary'].describe()

count     7626
unique      26
top          0
freq      7331
Name: Number of patients in nPCR summary, dtype: object

In [596]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients in nPCR summary'].value_counts()]).value_counts()

False    18
True      8
dtype: int64

In [597]:
df['Number of patients in nPCR summary'].min()

'0'

In [598]:
df['Number of patients in nPCR summary'].max()

'Not Available'

In [599]:
set([(len(str(num))) for num in df['Number of patients in nPCR summary']])

{1, 2, 13}

### Number of patient-months in nPCR summary
Data type: object

Value count: 7626

Number of unique values: 74

Percent unique values: 0.525%

Ranges of values: 1 - 

Length of values: 1 - 3, 13

Description: Lists the number of patient-months included in the facility's patients included in the facility's normalized protein catabolic rate (nPCR) summary. The normalized protein catabolic rate (nPCR) is a formula commonly used to assess dietary protein intake in dialysis patients, as a means towards determining nutritional adequacy, a major problem in many ESRD patients. 
The nPCR is reported in grams of urea nitrogen per kilogram per day.
Most guidelines specify maintaining the protein intake above 1.0 – 1.2 g/kg/day in dialysis patients, with values less than 0.8 g/kg/day being equated with malnutrition.

In [600]:
df['Number of patient-months in nPCR summary'].head()

0    Not Available
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Number of patient-months in nPCR summary, dtype: object

In [601]:
df['Number of patient-months in nPCR summary'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Number of patient-months in nPCR summary, dtype: object

In [602]:
df['Number of patient-months in nPCR summary'].describe()

count              7626
unique               74
top       Not Available
freq               7402
Name: Number of patient-months in nPCR summary, dtype: object

In [603]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patient-months in nPCR summary'].value_counts()]).value_counts()

True     40
False    34
dtype: int64

In [604]:
df['Number of patient-months in nPCR summary'].min()

'1'

In [605]:
df['Number of patient-months in nPCR summary'].max()

'Not Available'

In [606]:
set([(len(str(num))) for num in df['Number of patient-months in nPCR summary']])

{1, 2, 3, 13}

### nPCR Data Availability Code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258, 259

Length of values: 1, 3

Description: Lists whether the facility had sufficient normalized protein catabolic rate (nPCR) data available or the reason for why the data is not available. The normalized protein catabolic rate (nPCR) is a formula commonly used to assess dietary protein intake in dialysis patients, as a means towards determining nutritional adequacy, a major problem in many ESRD patients. 
The nPCR is reported in grams of urea nitrogen per kilogram per day.
Most guidelines specify maintaining the protein intake above 1.0 – 1.2 g/kg/day in dialysis patients, with values less than 0.8 g/kg/day being equated with malnutrition.

In [607]:
df['nPCR Data Availability Code'].head()

0    259
1    259
2    259
3    259
4    259
Name: nPCR Data Availability Code, dtype: int64

In [608]:
df['nPCR Data Availability Code'].tail()

7621    259
7622    259
7623    258
7624    259
7625    259
Name: nPCR Data Availability Code, dtype: int64

In [609]:
df['nPCR Data Availability Code'].count()

7626

In [610]:
df['nPCR Data Availability Code'].value_counts()

259    7082
201     249
199     196
258      73
1        26
Name: nPCR Data Availability Code, dtype: int64

### Percentage of pediatric HD patients with nPCR
Data type: object

Value count: 7626

Number of unique values: 15

Percent unique values: 0.118%

Ranges of values: 100 -

Length of values: 2, 3, 13

Description: Lists the percentage of pediatric HD patients with normalized protein catabolic rate (nPCR). The normalized protein catabolic rate (nPCR) is a formula commonly used to assess dietary protein intake in dialysis patients, as a means towards determining nutritional adequacy, a major problem in many ESRD patients. 
The nPCR is reported in grams of urea nitrogen per kilogram per day.
Most guidelines specify maintaining the protein intake above 1.0 – 1.2 g/kg/day in dialysis patients, with values less than 0.8 g/kg/day being equated with malnutrition.

In [611]:
df['Percentage of pediatric HD patients with nPCR'].head()

0    Not Available
1    Not Available
2    Not Available
3    Not Available
4    Not Available
Name: Percentage of pediatric HD patients with nPCR, dtype: object

In [612]:
df['Percentage of pediatric HD patients with nPCR'].tail()

7621    Not Available
7622    Not Available
7623    Not Available
7624    Not Available
7625    Not Available
Name: Percentage of pediatric HD patients with nPCR, dtype: object

In [613]:
df['Percentage of pediatric HD patients with nPCR'].describe()

count              7626
unique               15
top       Not Available
freq               7600
Name: Percentage of pediatric HD patients with nPCR, dtype: object

In [614]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of pediatric HD patients with nPCR'].value_counts()]).value_counts()

True     9
False    6
dtype: int64

In [615]:
df['Percentage of pediatric HD patients with nPCR'].min()

'100'

In [616]:
df['Percentage of pediatric HD patients with nPCR'].max()

'Not Available'

In [617]:
set([(len(str(num))) for num in df['Percentage of pediatric HD patients with nPCR']])

{2, 3, 13}

### DATE_SWR
Data type: object

Value count: 7626

Number of unique values: 1

Percent unique values: 0%

Ranges of values: "01/01/2015 - 12/31/2017"

Length of values: 23

Description: Years Patient Transplant Waitlist Is Based Upon. Standardized Waitlist Ratio (SWR) measure tracks the number of incident patients at the dialysis facility under the age of 75 listed on the kidney or kidney-pancreas transplant waitlist or who received a living donor transplant within the first year of initiating dialysis. SWR is calculated to compare the observed waitlisting rate in the facility to the waitlisting rate that was expected.

In [618]:
df['DATE_SWR'].head()

0    01/01/2015 - 12/31/2017
1    01/01/2015 - 12/31/2017
2    01/01/2015 - 12/31/2017
3    01/01/2015 - 12/31/2017
4    01/01/2015 - 12/31/2017
Name: DATE_SWR, dtype: object

In [619]:
df['DATE_SWR'].tail()

7621    01/01/2015 - 12/31/2017
7622    01/01/2015 - 12/31/2017
7623    01/01/2015 - 12/31/2017
7624    01/01/2015 - 12/31/2017
7625    01/01/2015 - 12/31/2017
Name: DATE_SWR, dtype: object

In [620]:
df['DATE_SWR'].value_counts()

01/01/2015 - 12/31/2017    7626
Name: DATE_SWR, dtype: int64

In [621]:
set([(len(str(num))) for num in df['DATE_SWR']])

{23}

### SWR category text
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Worse than Expected, Better than Expected, Not Available

Length of values: 11, 13, 19, 20

Description: Standardized waitlist ratio (SWR) category text. The standardized waitlist ratio (SWR) measure tracks the number of incident patients at the dialysis facility under the age of 75 listed on the kidney or kidney-pancreas transplant waitlist or who received a living donor transplant within the first year of initiating dialysis. SWR is calculated to compare the observed waitlisting rate in the facility to the waitlisting rate that was expected. 

Value description:
- As Expected          : Patient standardized waitlist ratio (SWR) categorized as “As Expected”       
- Worse than Expected  :  Patient standardized waitlist ratio (SWR) categorized as “Worse than Expected”
- Better than Expected : Patient standardized waitlist ratio (SWR) categorized as “Better than Expected"
- Not Available

In [622]:
df['SWR category text'].head()

0      As Expected
1      As Expected
2    Not Available
3    Not Available
4    Not Available
Name: SWR category text, dtype: object

In [623]:
df['SWR category text'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624    Not Available
7625      As Expected
Name: SWR category text, dtype: object

In [624]:
df['SWR category text'].count()

7626

In [625]:
df['SWR category text'].value_counts()

As Expected             3593
Not Available           3515
Better than Expected     316
Worse than Expected      202
Name: SWR category text, dtype: int64

In [626]:
set([(len(str(num))) for num in df['SWR category text']])

{11, 13, 19, 20}

### Patient transplant waitlist data availability code
Data type: int64

Value count: 7626

Number of unique values: 5

Percent unique values: 0.0131%

Ranges of values: 1, 199, 201, 255, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient patient transplant waitlist data available or
the reason for why the data is not available.

Value description:
- 1   : N/A
- 199 : Not enough patients to report on this measure. Call the dialysis center to discuss this measure.
- 201 : Data not reported. Call the dialysis center to discuss this quality measure. 
- 255 : Medicare determined that the percentage reported was not accurate.
- 258 : The dialysis center was not open long enough to supply sufficient measure data.

In [627]:
df['Patient transplant waitlist data availability code'].head()

0      1
1      1
2    199
3    199
4    199
Name: Patient transplant waitlist data availability code, dtype: int64

In [628]:
df['Patient transplant waitlist data availability code'].tail()

7621      1
7622      1
7623    258
7624    199
7625      1
Name: Patient transplant waitlist data availability code, dtype: int64

In [629]:
df['Patient transplant waitlist data availability code'].count()

7626

In [630]:
df['Patient transplant waitlist data availability code'].value_counts()

1      4111
199    2705
258     697
201     112
255       1
Name: Patient transplant waitlist data availability code, dtype: int64

### 95% C.I. (upper limit) for SWR
Data type: object

Value count: 7626

Number of unique values: 594

Percent unique values: 1.39%

Ranges of values: 0.23 - 

Length of values: 1 - 5, 13

Description: Lists the upper confident interval limit (95%) for Standardized Waitlist Ratio (SWR) rate per 100 patient-years. The Standardized Waitlist Ratio (SWR) measure tracks the number of incident patients at the dialysis facility under the age of 75 listed on the kidney or kidney-pancreas transplant waitlist or who received a living donor transplant within the first year of initiating dialysis. SWR is calculated to compare the observed waitlisting rate in the facility to the waitlisting rate that was expected.

In [631]:
df['95% C.I. (upper limit) for SWR'].head()

0             1.16
1             1.16
2    Not Available
3    Not Available
4    Not Available
Name: 95% C.I. (upper limit) for SWR, dtype: object

In [632]:
df['95% C.I. (upper limit) for SWR'].tail()

7621             1.39
7622             1.37
7623    Not Available
7624    Not Available
7625             2.97
Name: 95% C.I. (upper limit) for SWR, dtype: object

In [633]:
df['95% C.I. (upper limit) for SWR'].describe()

count              7626
unique              594
top       Not Available
freq               3515
Name: 95% C.I. (upper limit) for SWR, dtype: object

In [634]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['95% C.I. (upper limit) for SWR'].value_counts()]).value_counts()

False    488
True     106
dtype: int64

In [635]:
df['95% C.I. (upper limit) for SWR'].min()

'.23'

In [636]:
df['95% C.I. (upper limit) for SWR'].max()

'Not Available'

In [637]:
set([(len(str(num))) for num in df['95% C.I. (upper limit) for SWR']])

{1, 2, 3, 4, 5, 13}

### 95% C.I. (lower limit) for SWR
Data type: object

Value count: 7626

Number of unique values: 215

Percent unique values: 0.511%

Ranges of values: 0.01 - 

Length of values: 1 - 4, 13

Description: Lists the lower confident interval limit (95%) for Standardized Waitlist Ratio (SWR) rate per 100 patient-years. The Standardized Waitlist Ratio (SWR) measure tracks the number of incident patients at the dialysis facility under the age of 75 listed on the kidney or kidney-pancreas transplant waitlist or who received a living donor transplant within the first year of initiating dialysis. SWR is calculated to compare the observed waitlisting rate in the facility to the waitlisting rate that was expected.

In [638]:
df['95% C.I. (lower limit) for SWR'].head()

0              .12
1               .2
2    Not Available
3    Not Available
4    Not Available
Name: 95% C.I. (lower limit) for SWR, dtype: object

In [639]:
df['95% C.I. (lower limit) for SWR'].tail()

7621              .01
7622              .05
7623    Not Available
7624    Not Available
7625              .41
Name: 95% C.I. (lower limit) for SWR, dtype: object

In [640]:
df['95% C.I. (lower limit) for SWR'].describe()

count              7626
unique              215
top       Not Available
freq               3515
Name: 95% C.I. (lower limit) for SWR, dtype: object

In [641]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['95% C.I. (lower limit) for SWR'].value_counts()]).value_counts()

False    176
True      39
dtype: int64

In [642]:
df['95% C.I. (lower limit) for SWR'].min()

'.01'

In [643]:
df['95% C.I. (lower limit) for SWR'].max()

'Not Available'

In [644]:
set([(len(str(num))) for num in df['95% C.I. (lower limit) for SWR']])

{1, 2, 3, 4, 13}

### Number of patients in this facility for SWR
Data type: object

Value count: 7626

Number of unique values: 146

Percent unique values: 0.236%

Ranges of values: 0 - 

Length of values: 1 - 3, 13 

Description: Lists the number of patients in this facility for Standardized Waitlist Ratio (SWR). The Standardized Waitlist Ratio (SWR) measure tracks the number of incident patients at the dialysis facility under the age of 75 listed on the kidney or kidney-pancreas transplant waitlist or who received a living donor transplant within the first year of initiating dialysis. SWR is calculated to compare the observed waitlisting rate in the facility to the waitlisting rate that was expected.

In [645]:
df['Number of patients in this facility for SWR'].head()

0     56
1    105
2     12
3      8
4      1
Name: Number of patients in this facility for SWR, dtype: object

In [646]:
df['Number of patients in this facility for SWR'].tail()

7621               39
7622               52
7623    Not Available
7624               22
7625               41
Name: Number of patients in this facility for SWR, dtype: object

In [647]:
df['Number of patients in this facility for SWR'].describe()

count     7626
unique     146
top          0
freq       698
Name: Number of patients in this facility for SWR, dtype: object

In [648]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients in this facility for SWR'].value_counts()]).value_counts()

False    128
True      18
dtype: int64

In [649]:
df['Number of patients in this facility for SWR'].min()

'0'

In [650]:
df['Number of patients in this facility for SWR'].max()

'Not Available'

In [651]:
set([(len(str(num))) for num in df['Number of patients in this facility for SWR']])

{1, 2, 3, 13}

### Standardized First Kidney Transplant Waitlist Ratio
Data type: object

Value count: 7626

Number of unique values: 361

Percent unique values: 0.813%

Ranges of values: 0.08 - 

Length of values: 1 - 4, 13

Description: Lists the ratio of standardized waitlist ratio (SWR) in this facility. This measure tracks the number of incident patients at the dialysis facility under the age of 75 listed on the kidney or kidney-pancreas transplant waitlist or who received living donor transplants within the first year of initiating dialysis.

In [652]:
df['Standardized First Kidney Transplant Waitlist Ratio'].head()

0              .45
1              .53
2    Not Available
3    Not Available
4    Not Available
Name: Standardized First Kidney Transplant Waitlist Ratio, dtype: object

In [653]:
df['Standardized First Kidney Transplant Waitlist Ratio'].tail()

7621              .25
7622              .38
7623    Not Available
7624    Not Available
7625             1.27
Name: Standardized First Kidney Transplant Waitlist Ratio, dtype: object

In [654]:
df['Standardized First Kidney Transplant Waitlist Ratio'].describe()

count              7626
unique              361
top       Not Available
freq               3515
Name: Standardized First Kidney Transplant Waitlist Ratio, dtype: object

In [655]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Standardized First Kidney Transplant Waitlist Ratio'].value_counts()]).value_counts()

False    299
True      62
dtype: int64

In [656]:
df['Standardized First Kidney Transplant Waitlist Ratio'].min()

'.08'

In [657]:
df['Standardized First Kidney Transplant Waitlist Ratio'].max()

'Not Available'

In [658]:
set([(len(str(num))) for num in df['Standardized First Kidney Transplant Waitlist Ratio']])

{1, 2, 3, 4, 13}

### PPPW category text
Data type: object

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: As Expected, Worse than Expected, Better than Expected, Not Available

Length of values: 11, 13, 19, 20

Description: Percentage of prevalent patients waitlisted (PPPW) category text. The PPPW measure tracks the percentage of patients at each dialysis facility who were on the kidney or kidney-pancreas transplant waiting list. Results are averaged across patients prevalent on the last day of each month during the reporting year, adjusted for age.

Value description:
- As Expected          : Patient percentage of prevalent patients waitlisted (PPPW) categorized as “As Expected”       
- Worse than Expected  :  Patient percentage of prevalent patients waitlisted (PPPW) categorized as “Worse than Expected”
- Better than Expected : Patient percentage of prevalent patients waitlisted (PPPW) categorized as “Better than Expected"
- Not Available

In [659]:
df['PPPW category text'].head()

0    As Expected
1    As Expected
2    As Expected
3    As Expected
4    As Expected
Name: PPPW category text, dtype: object

In [660]:
df['PPPW category text'].tail()

7621      As Expected
7622      As Expected
7623    Not Available
7624      As Expected
7625      As Expected
Name: PPPW category text, dtype: object

In [661]:
df['PPPW category text'].count()

7626

In [662]:
df['PPPW category text'].value_counts()

As Expected             6539
Better than Expected     462
Not Available            448
Worse than Expected      177
Name: PPPW category text, dtype: int64

In [663]:
set([(len(str(num))) for num in df['PPPW category text']])

{11, 13, 19, 20}

### Patient prevalent transplant waitlist data availability code
Data type: int64

Value count: 7626

Number of unique values: 4

Percent unique values: 0%

Ranges of values: 1, 199, 201, 258

Length of values: 1, 3

Description: Lists whether the facility had sufficient patient prevalent transplant waitlist data available or the reason for why the data is not available.

In [664]:
df['Patient prevalent transplant waitlist data availability code'].head()

0    1
1    1
2    1
3    1
4    1
Name: Patient prevalent transplant waitlist data availability code, dtype: int64

In [665]:
df['Patient prevalent transplant waitlist data availability code'].tail()

7621      1
7622      1
7623    258
7624      1
7625      1
Name: Patient prevalent transplant waitlist data availability code, dtype: int64

In [666]:
df['Patient prevalent transplant waitlist data availability code'].count()

7626

In [667]:
df['Patient prevalent transplant waitlist data availability code'].value_counts()

1      7178
258     279
199     155
201      14
Name: Patient prevalent transplant waitlist data availability code, dtype: int64

### 95% C.I. (upper limit) for PPPW
Data type: object

Value count: 7626

Number of unique values: 767

Percent unique values: 1.22%

Ranges of values: 0 - 

Length of values: 1 - 4, 13

Description: Lists the upper confident interval limit (95%) for Percentage of Prevalent Patients Waitlisted (PPPW) rate per 100 patient-years. The PPPW measure tracks the percentage of patients at each dialysis facility who were on the kidney or kidney-pancreas transplant waiting list. Results are averaged across patients prevalent on the last day of each month during the reporting year, adjusted for age.

In [668]:
df['95% C.I. (upper limit) for PPPW'].head()

0    22.8
1    32.1
2    74.5
3    74.2
4    48.4
Name: 95% C.I. (upper limit) for PPPW, dtype: object

In [669]:
df['95% C.I. (upper limit) for PPPW'].tail()

7621             33.1
7622             32.6
7623    Not Available
7624             35.4
7625             36.9
Name: 95% C.I. (upper limit) for PPPW, dtype: object

In [670]:
df['95% C.I. (upper limit) for PPPW'].describe()

count              7626
unique              767
top       Not Available
freq                448
Name: 95% C.I. (upper limit) for PPPW, dtype: object

In [671]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['95% C.I. (upper limit) for PPPW'].value_counts()]).value_counts()

False    674
True      93
dtype: int64

In [672]:
df['95% C.I. (upper limit) for PPPW'].min()

'0'

In [673]:
df['95% C.I. (upper limit) for PPPW'].max()

'Not Available'

In [674]:
set([(len(str(num))) for num in df['95% C.I. (upper limit) for PPPW']])

{1, 2, 3, 4, 13}

### 95% C.I. (lower limit) for PPPW
Data type: object

Value count: 7626

Number of unique values: 356

Percent unique values: 0.918%

Ranges of values: 0.1 - 

Length of values: 1 - 4, 13

Description: Lists the lower confident interval limit (95%) for Percentage of Prevalent Patients Waitlisted (PPPW) rate per 100 patient-years. The PPPW measure tracks the percentage of patients at each dialysis facility who were on the kidney or kidney-pancreas transplant waiting list. Results are averaged across patients prevalent on the last day of each month during the reporting year, adjusted for age.

In [675]:
df['95% C.I. (lower limit) for PPPW'].head()

0     3.4
1    11.8
2    10.1
3      .2
4     2.8
Name: 95% C.I. (lower limit) for PPPW, dtype: object

In [676]:
df['95% C.I. (lower limit) for PPPW'].tail()

7621              2.1
7622              5.2
7623    Not Available
7624              1.9
7625              7.1
Name: 95% C.I. (lower limit) for PPPW, dtype: object

In [677]:
df['95% C.I. (lower limit) for PPPW'].describe()

count              7626
unique              356
top       Not Available
freq                448
Name: 95% C.I. (lower limit) for PPPW, dtype: object

In [678]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['95% C.I. (lower limit) for PPPW'].value_counts()]).value_counts()

False    286
True      70
dtype: int64

In [679]:
df['95% C.I. (lower limit) for PPPW'].min()

'.1'

In [680]:
df['95% C.I. (lower limit) for PPPW'].max()

'Not Available'

In [681]:
set([(len(str(num))) for num in df['95% C.I. (lower limit) for PPPW']])

{1, 2, 3, 4, 13}

### Number of patients for PPPW
Data type: object

Value count: 7626

Number of unique values: 270

Percent unique values: 0.603%

Ranges of values: 0 - 

Length of values: 1 - 3, 13

Description: Lists the number of patients included in the facility's percentage of prevalent patients waitlisted (PPPW). The PPPW measure tracks the percentage of patients at each dialysis facility who were on the kidney or kidney-pancreas transplant waiting list. Results are averaged across patients prevalent on the last day of each month during the reporting year, adjusted for age.

In [682]:
df['Number of patients for PPPW'].head()

0    100
1    209
2     24
3     19
4     44
Name: Number of patients for PPPW, dtype: object

In [683]:
df['Number of patients for PPPW'].tail()

7621               76
7622               82
7623    Not Available
7624               56
7625               92
Name: Number of patients for PPPW, dtype: object

In [684]:
df['Number of patients for PPPW'].describe()

count     7626
unique     270
top         49
freq        92
Name: Number of patients for PPPW, dtype: object

In [685]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Number of patients for PPPW'].value_counts()]).value_counts()

False    224
True      46
dtype: int64

In [686]:
df['Number of patients for PPPW'].min()

'0'

In [687]:
df['Number of patients for PPPW'].max()

'Not Available'

In [688]:
set([(len(str(num))) for num in df['Number of patients for PPPW']])

{1, 2, 3, 13}

### Percentage of Prevalent Patients Waitlisted
Data type: object

Value count: 7626

Number of unique values: 572

Percent unique values: 1.13%

Ranges of values: 0.1 - 

Length of values: 1 - 4, 13

Description: Lists the percentage of prevalent patients waitlisted.

In [689]:
df['Percentage of Prevalent Patients Waitlisted'].head()

0     9.2
1    20.1
2    36.4
3     7.4
4    14.2
Name: Percentage of Prevalent Patients Waitlisted, dtype: object

In [690]:
df['Percentage of Prevalent Patients Waitlisted'].tail()

7621              9.5
7622               14
7623    Not Available
7624              9.2
7625             17.4
Name: Percentage of Prevalent Patients Waitlisted, dtype: object

In [691]:
df['Percentage of Prevalent Patients Waitlisted'].describe()

count              7626
unique              572
top       Not Available
freq                448
Name: Percentage of Prevalent Patients Waitlisted, dtype: object

In [692]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Percentage of Prevalent Patients Waitlisted'].value_counts()]).value_counts()

False    486
True      86
dtype: int64

In [693]:
df['Percentage of Prevalent Patients Waitlisted'].min()

'.1'

In [694]:
df['Percentage of Prevalent Patients Waitlisted'].max()

'Not Available'

In [695]:
set([(len(str(num))) for num in df['Percentage of Prevalent Patients Waitlisted']])

{1, 2, 3, 4, 13}

### Location
Data type: object

Value count: 7162

Number of unique values: 7043

Percent unique values: 96.7%

Length of values: 3, 23, 25, 26, 27, 28, 29

Description: Lists the coordinates of the facility's location.

In [696]:
df['Location'].head()

0      POINT (-92.372456 34.73624)
1    POINT (-118.187206 33.966829)
2     POINT (-72.809521 41.472838)
3                              NaN
4     POINT (-75.592475 38.735365)
Name: Location, dtype: object

In [697]:
df['Location'].tail()

7621     POINT (-82.398053 36.307557)
7622     POINT (-87.982914 43.093799)
7623    POINT (-117.885172 33.731441)
7624     POINT (-81.815351 27.536488)
7625      POINT (-88.038798 43.12228)
Name: Location, dtype: object

In [698]:
df['Location'].describe()

count                           7162
unique                          7043
top       POINT (-93.10376 44.95832)
freq                               3
Name: Location, dtype: object

In [699]:
# Percent unique values
# True if facility has a value count of 1 (aka unique)
pd.Series([facility == 1 for facility in df['Location'].value_counts()]).value_counts()

True     6926
False     117
dtype: int64

In [700]:
set([(len(str(num))) for num in df['Location']])

{3, 23, 25, 26, 27, 28, 29}